.other-case {
    // @include adaptiveClamp(padding-top, 156, 49);

    &__container {
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: row;
        gap: rem(20);
        // @include adaptiveClamp(margin-bottom, 77, 41);
    }

    &__title {
        position: relative;
        @include adaptiveClamp(font-size, 100, 34);
    }

    &__title-num {
        position: absolute;
        @include adaptiveClamp(font-size, 32, 16);
        color: var(--bs-title-mark-color);
        bottom: 57%;
        left: 101%;
    }

    &__button {
        @include adaptiveClamp(min-width, 228, 150);

        @media(max-width:650px){
            display: none;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(10);

        @media(max-width:1400px){
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media(max-width:1024px){
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width:650px){
            grid-template-columns: 1fr;
            margin-left: rem(-10);
            margin-right: rem(-10);
        }
    }


    &__item {
        @media(max-width:1400px){
            &:last-child {
                display: none;
            }
        }
        @media(max-width:1024px){
            &:last-child {
                display: block;
            }
        }
        &:hover.case-port  {
            .case-port__img {
                transform: scale(1.1) !important;
                filter: blur(3px)
            }
        }
        &.case-port .case-port {
            &__fon {
                @include adaptiveClamp(min-height, 200, 190);
                aspect-ratio: 347.87 / 485.37;

            }
        
            &__fon-body {
                height: 100% !important;
                transform: scale(1);
            }
        
            &__img {
                transition: transform 1s ease-in-out  0s, filter 0.7s ease-in-out  0s;
            }
        
            &__body {
                @include adaptiveClamp(padding-top, 15.1, 15);
                @include adaptiveClamp(padding-bottom, 15.1, 15);
                @include adaptiveClamp(padding-left, 15.1, 15);
                @include adaptiveClamp(padding-right, 15.1, 15);
            }
        
            &__year {
                @include adaptiveClamp(font-size, 12, 11.9);
            }
        
            &__logo {
                @include adaptiveClamp(width, 74.6, 74.5);
                @include adaptiveClamp(margin-bottom, 19.6, 19.5);
            }
        
            &__title {
                @include adaptiveClamp(font-size, 26.1, 26);
                @include adaptiveClamp(margin-bottom, 9.1, 9);
        
            }
        
            &__up-text {
                @include adaptiveClamp(font-size, 14, 13.9);
                @include adaptiveClamp(margin-bottom, 65, 64);
            }
        
            &__row-mark {
            }
        
            &__mark {
                @include adaptiveClamp(font-size, 12, 11.9);
                @include adaptiveClamp(padding-left, 12.9, 12.8);
                @include adaptiveClamp(padding-right, 12.9, 12.8);
                @include adaptiveClamp(padding-top, 6.1, 6);
                @include adaptiveClamp(padding-bottom, 6.6, 6.5);
            }
        }
        
    }
}
.direct-port {

    &__case {
    }
}
