.about {
    position: relative;
    // position: sticky;
    
    will-change: transform, opacity;
    transform: translateZ(0); 

    &.sticky {
        @media(min-width:1025px){
            // position: sticky;
            top: 0;
        }
    }

    @media(max-width:550px){
        position: relative;
        // visibility: hidden;
        top: 0;
        // min-height: 100vh;
        min-height: 100dvh;
        display: flex;

        &.sticky {
            // position: sticky;
            // top: 0;
            
        }
    }

    &__bg {
        position: absolute;
        content: '';
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        pointer-events: none;

        img {
            width: 100%;
        }


        &.video {
            height: 100%;
        }   

        video {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
 
    &__container {
        @include adaptiveClamp(padding-top, 168, 123);
        // @include adaptiveClamp(padding-bottom, 92, 100);
        margin-bottom: rem(150);
        position: relative;
        transition: color 0s ease  0s;

        transform-origin: center bottom;

        @media(max-width:768px){
            @include adaptiveClamp(padding-top, 250, 155);
        }
        @media(max-width:550px){
            // @include adaptiveClamp(padding-top, 320, 278);
            @include adaptiveClamp(margin-bottom, 210, 170);

            
            // height: 100%;
            // width: 100%;
            flex: auto;

            ._case-all & {
                @include adaptiveClamp(margin-bottom, 150, 100);
            }
        }

        // &::before {
        //     position: absolute;
        //     z-index: -1;
        //     content: '';
        //     width: rem(399);
        //     height: rem(681);
        //     border-radius: 100%;
        //     background: linear-gradient(270deg, #ff4533 38.5%, #fb0 49%, #ff4533 67%);
        //     top:rem(-329.4);
        //     left: 0;
        //     filter: blur(210px);
        //     transform: rotate(-57.54deg);
        //     transition: opacity 0.3s ease  0s;

        //     .blue-page & {
        //         background: linear-gradient(270deg, #004bff 38.5%, #fff 49%, #004bff 67%);
        //         filter: blur(200px);
        //     }

        //     .white-theme.blue-page & {
        //         // opacity: 0;
        //     }

        //     @media(max-width:550px){
        //         top:rem(-74.4);
        //         left: rem(-194.12);
        //         filter: blur(50px);

        //         .blue-page & {
        //             background: linear-gradient(225deg, #06f 38.1%, #0004ff 82.18%);
        //             filter: blur(60px);
        //             top:rem(-94.4);
        //         }
        //     }
        // }

        // &::after {
        //     position: absolute;
        //     z-index: -1;
        //     content: '';
        //     width: rem(399);
        //     height: rem(681);
        //     border-radius: 100%;
        //     background: linear-gradient(270deg, #ff4533 38.5%, #fb0 49%, #ff4533 67%);
        //     top:rem(115);
        //     right: rem(-528);
        //     filter: blur(230px);
        //     transform: rotate(-60deg);
        //     transition: opacity 0.3s ease  0s;

        //     .blue-page & {
        //         background: linear-gradient(270deg, #004bff 38.5%, #fff 49%, #004bff 67%);
        //         filter: blur(200px);
        //     }
        //     .white-theme.blue-page & {
        //         opacity: 0;
        //     }

        //     @media(max-width:550px){
        //         display: none;
        //     }
        // }
    }

    &__content  {
        @media(min-width:769px){
            @include adaptiveClamp(padding-top, 80, 0);

            ._two-pb {
                @include adaptiveClamp(padding-top, 141, 0);
            }
        }
        @media(max-width:550px){
            height: 100%;
        }


        &._three {
            grid-template-columns: 1fr 1fr 1fr;
    
    
            
            @media(min-width:851px){
                .grid-content__right {
                    grid-column: 2 span;
                }
            }
    
            @media(max-width:850px){
                grid-template-columns: 1fr;
            }
        }
    }

    &__left {
        @media(max-width:768px){
            display: none;
        }
    }
    &__right {
        @media(max-width:550px){
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;
        }
    }

    &__crumbs {
        @media(max-width:768px){
            display: none;
        }
    }
    &__title {
        position: relative;
        z-index: 1;
        @include adaptiveClamp(max-width, 913, 395);
        @include adaptiveClamp(margin-bottom, 65, 42);

        @media(max-width:750px){
            @include adaptiveClamp(font-size, 50, 40);
        }
        @media(max-width:550px){
            line-height: 110%;
            @include adaptiveClamp(max-width, 913, 260);
            &.t-c {
                text-align: left;
            }

            ._case-all & {
                @include adaptiveClamp(max-width, 913, 400);
            }
        }


        .mob {
            display: none;
        }
        @media(max-width:550px){
            .mob {
                display: inline;
            }
            .web {
                display: none;
            }

            #typewriter {
                display: inline-block;
                min-width: 100%;
            }
        }

    }

    &__text {
        position: relative;
        z-index: 1;
        // max-width: rem(496);
        @include adaptiveClamp(max-width, 526, 480);

        
        @media(max-width:550px){
            text-align: left;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiveClamp(gap, 50, 25);

        
        @media(max-width:550px){
            align-items: start;
        }
    }

    &__button-row {
        width: 100%;
        display: flex;
        gap: rem(8);

        @media(min-width:551px){
            @include adaptiveClamp(margin-top, 75.74, 50);

        }

        @media(max-width:550px){
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(79);
            height: auto;
            padding: 0 rem(20) rem(46);
            transition: background-color 0.3s ease  0s, bottom 0.6s ease  0s, backdrop-filter 0.3s ease  0s;
            z-index: 7;

            &.no-fixed {
                bottom: rem(-110);
            }
        }


        &.case-page-btns {
            align-items: end;
            @media(min-width:551px){
                display: none;
            }
        }
    }

    &__button {
        // @include adaptiveClamp(margin-top, 50, 4);
        @media(min-width:551px){
            font-size: rem(16);
            padding: rem(19) rem(59.5) rem(17);
        }
        @media(max-width:550px){
            // border-radius: 10px;
            padding: rem(17.3) rem(22) rem(13.3);
            width: 100%;
            transition: background-color 0.3s ease 0s, transform 0.3s ease 0s, opacity 0.3s ease 0s, box-shadow 0.3s ease 0s,;
        }
    }

    &__btn-pat.button {
        display: flex;
        align-items: center;
        font-size: rem(12);
        padding: rem(4) rem(10) rem(4) rem(11);
        height: rem(27);
        gap: rem(7);

        span {
            margin-top: rem(0.5);
        }
        opacity: 0;
        transform: translateY(150%);
        transition: opacity 0.6s ease  0s, transform 0.6s ease  0s;

        &._active {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    &__connect {
        position: relative;
        margin-left: auto;
        margin-top: auto;
        height: rem(55);

        @media(min-width:551px){
            display: none;
        }


        &._active {
            a {
                pointer-events: all;
                opacity: 1;
            }
            a:nth-child(2) {
                bottom: calc(100% + 0.5rem);
                opacity: 1;
                box-shadow: 0px 0px 8px rgba(#000, 40%);
            
                .white-theme & {
                    box-shadow: 0px 0px 8px rgba(#000, 10%);
                }
            }
            a:nth-child(3) {
                bottom: calc(200% + 1rem);
                opacity: 1;
                box-shadow: 0px 0px 8px rgba(#000, 40%);
            
                .white-theme & {
                    box-shadow: 0px 0px 8px rgba(#000, 10%);
                }
            }
            a:nth-child(4) {
                bottom: calc(300% + 1.5rem);
                opacity: 1;
                box-shadow: 0px 0px 8px rgba(#000, 40%);
            
                .white-theme & {
                    box-shadow: 0px 0px 8px rgba(#000, 10%);
                }
            }
        }
        a {

            &:not(:first-child) {
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
            }
            &:first-child {
                position: relative;
                z-index: 2;
            }
        }
    }

    &__connect-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(55);
        height: rem(55);
        border-radius: rem(5);
        overflow: hidden;
        pointer-events: none;
        transition: all 0.3s ease  0s;
        // margin-right: rem(-2);

    
        .white-theme & {
            background: rgba(122, 122, 122, 0.25);
        }

        img {
            width: rem(55);
            height: rem(55);
        }
    }

    &__close-connect {
        position: absolute;
        @include adaptiveClamp(top, 117, 89);
        right: -100%;
        transition: all 0.25s ease  0s;

        &._active {
            pointer-events: all;
            right: rem(14);
            box-shadow: 0px 0px 8px rgba(#000, 40%);

            .white-theme & {
                box-shadow: 0px 0px 8px rgba(#000, 10%);
            }
        }


        @media(min-width:551px){
            display: none;
        }
    }

    &__running {
        position: relative;
        // z-index: -1;
        // margin-top: rem(-37);
        // margin-bottom: rem(-30);
        max-width: rem(479);
        // height: rem(37);
        width: 100%;
        // margin-bottom: rem(16);
        margin-bottom: rem(40);


        &::before {
            // position: absolute;
            // // content: '';
            // width: rem(203);
            // height: rem(48);
            // border-radius: 100%;
            // background: #ff4533;
            // filter: blur(32px);
            // top:rem(25);
            // right: rem(-104);
            // transform: rotate(-18deg);
            // transition: opacity 0.3s ease  0s;

            // .blue-page & {
            //     background: #1053f3;
            // }

            // .white-theme & {
            //     opacity: 0;
            // }

            position: absolute;
            // content: '';
            width: rem(30);
            height: 100%;
            background: linear-gradient(-90deg, #0c0e11 35%, transparent 100%);
            top:0;
            // left: rem(-2);
            right: rem(-2);
            z-index: 1;
            transition: opacity 0.3s ease  0s;

            .white-theme & {
                opacity: 0;
                // background: linear-gradient(90deg, #ffffff 35%, transparent 100%);
            }
        }
        &::after {
            position: absolute;
            // content: '';
            width: rem(30);
            height: 100%;
            background: linear-gradient(90deg, #0c0e11 35%, transparent 100%);
            top:0;
            left: rem(-2);
            z-index: 1;
            transition: opacity 0.3s ease  0s;

            .white-theme & {
                opacity: 0;
                // background: linear-gradient(90deg, #ffffff 35%, transparent 100%);
            }
        }
        
        @media(max-width:550px){
            display: flex;

            .blue-page & {
                border-color: rgba(53, 98, 205, 0.8);
            }
            margin-bottom: rem(45);
            @include adaptiveClamp(max-width, 280, 182);
        }
    }
    &__running-body {
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 20%,
            black 80%,
            transparent 100%
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 20%,
            black 80%,
            transparent 100%
        );
    }
    &__running-row {
        @include adaptiveClamp(padding-right, 14, 12);
        @include adaptiveClamp(gap, 14, 12);
    }
    &__running-item {
        display: flex;
        align-items: center;
        position: relative;
        gap: rem(12);
        color: var(--white);
        line-height: 1;
        @include adaptiveClamp(font-size, 20, 16);
        .white-theme & {
            color: var(--bs-title-color);
        }

        &::before {
            display: inline-block;
            position: relative;
            top: rem(0.5);
            content: '';
            // width: rem(16);
            // height: rem(16);
            // background: url(@img/running-ok.svg) no-repeat center center / contain;
            // transition: filter 0.3s ease  0s;
            // top:0;
            // left: 0;

            // .white-theme & {
            //     filter: grayscale(100%) invert(100%);
            // }

            @include adaptiveClamp(width, 8, 6);
            @include adaptiveClamp(height, 8, 6);
            border-radius: 50%;
            background: var(--bs-title-mark-color);
        }
    }
}







// .cube-anim {
//     display: inline-block;
//     perspective: 1000px;
//     // width: 400px;
//     // width: max-content;
//     // height: 72px; /* Высота одной грани */
//     line-height: 1;
//     padding: 0;

//     &__opacity {
//         display: inline-block;
//         opacity: 0;
//     }
//   }
  
//   .cube {
//     display: inline-flex;
//     justify-content: center;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform-style: preserve-3d;
//     transition: transform 1.5s;
//     // animation: rotate 8s infinite linear;
//   }
  
//   .cube__face {
//     position: absolute;

//     width: max-content;
//     height: 100%;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     backface-visibility: hidden;
//     box-sizing: border-box;
//   }
  
//   .cube__face-front {
//     transform: translateZ(0.38em);
//   }
  
//   .cube__face-bottom {
//     transform: rotateX(-90deg) translateZ(0.38em);
//   }
  
//   .cube__face-back {
//     transform: rotateX(180deg) translateZ(0.38em);
//   }
  
//   .cube__face-top {
//     transform: rotateX(90deg) translateZ(0.38em);
//   }


//   @keyframes rotate {
//     0% {
//       transform: rotateX(0);
//     }
//     25% {
//       transform: rotateX(90deg);
//     }
//     50% {
//       transform: rotateX(180deg);
//     }
//     75% {
//       transform: rotateX(270deg);
//     }
//     100% {
//       transform: rotateX(360deg);
//     }
//   }

