.advant {
    margin-top: rem(-20);
    .white-theme & {
        margin-top: rem(-150);
        @media(max-width:1024px){
            margin-top: rem(-120);
        }
        @media(max-width:650px){
            margin-top: rem(-80);
        }
    }
    &__container {
    }

    &__head-text {
    }

    &__title {
    }

    &__text {
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(16);

        @media(max-width:1024px){
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width:650px){
            grid-template-columns: 1fr;
        }
    }

    &__item-row {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        height: auto;
    }

    &__item-row-two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(16);
        grid-column: 2 span;

        @media(max-width:1024px){
            grid-template-columns: 1fr;
            grid-column: 1 span;
        }
    }

    &__item {
    }
}

.item-advant {
    position: relative;
    border: 1px solid rgba(46, 53, 63, 0.52);
    border-radius: rem(20);
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: auto;

    &._f-one {
        &::before {
            position: absolute;
            content: '';
            width: rem(244);
            height: rem(187);
            background-color: var(--bs-title-mark-color);
            bottom:rem(-26.55);
            left: rem(-29.5);
            border-radius: 100%;
            filter: blur(60px);
            pointer-events: none;
            opacity: 0.8;
        }
    }
    &._f-two, &._f-four {
        &::before {
            position: absolute;
            content: '';
            width: rem(600);
            height: rem(340);
            background-color: var(--bs-title-mark-color);
            bottom:rem(-97);
            left: rem(-65);
            border-radius: 100%;
            filter: blur(125px);
            pointer-events: none;
            opacity: 0.52;
        }
    }
    &._f-three {
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: rem(389);
            left: 0;
            bottom: 0;
            z-index: 2;
            pointer-events: none;
            background: linear-gradient(
                180deg,
                rgba(255, 69, 51, 0) 0%,
                rgba(255, 69, 51, 0.4) 44.97%,
                rgba(210, 40, 30, 1) 100%  /* Затемнённый вариант #ff4533 */
            );
            .blue-page & {
                background: linear-gradient(180deg, rgba(17, 26, 43, 0) 0%, rgba(17, 26, 43, 0.4) 44.97%, #111a2b 100%);
            }
        }
    }
    &._f-four {
        &::before {
            bottom:rem(-279);
            opacity: 0.52;
        }
    }
    &._f-img .item-advant__img {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: rem(532);
            height: rem(501);
            background-color: var(--bs-title-mark-color);
            left: 50%;
            transform: translateX(-50%);
            top: rem(-153);
            z-index: 1;
            filter: blur(117px);
            border-radius: 100%;
            opacity: 0.16;
            pointer-events: none;
        }

    }

    &__body {
        position: relative;
        z-index: 3;
        padding: rem(28);
        margin-bottom: auto;
        flex: auto;

        .item-advant__img {
            margin-top: rem(51);
        }
    }

    &__title {
        margin-bottom: rem(8);
        @include adaptiveClamp(font-size, 20, 18);
        color: var(--white);
        font-weight: 600;
    }

    &__text {
        font-weight: 500;
        color: #cdcdd7;
        line-height: 116%;
    }

    &__prc {
        margin-top: rem(26.6);
        font-weight: 600;
        font-size: rem(120);
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: rem(-26.6);
    }

    &__img {
        position: relative;
        z-index: 1;
        margin-top: rem(23);
        img {
            width: 100%;
        }

        &.m-t-two {
            margin-top: rem(67);
        }
    }
    
    &__link {
        position: relative;
        // display: inline-flex;
        display: flex;
        align-items: center;
        font-size: rem(16);
        gap: rem(4);
        width: max-content;
        padding-right: rem(22);
        margin-top: rem(16);
    
        .slide-anim {
            font-size: rem(16);
            min-width: rem(120);
        }

        &:hover {
            &::after {
                background-color: var(--bs-mark-color);
                right: rem(-3);
            }
        }
        &::after {
            position: absolute;
            content: '';
            width:  rem(18);
            min-width:  rem(18);
            height: rem(19);
            -webkit-mask: url('data:image/svg+xml;utf8,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.25 9.36914L3.75 9.36914" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M9 14.6191L14.25 9.36914L9 4.11914" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg>') no-repeat center;
            mask: url('data:image/svg+xml;utf8,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.25 9.36914L3.75 9.36914" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M9 14.6191L14.25 9.36914L9 4.11914" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg>') no-repeat center;
            mask-size: contain;
            -webkit-mask-size: contain;
            background-color: #fff;
            right: 0;
            top: rem(1);
            transition: background-color 0.3s ease  0s, right 0.3s ease  0s;
        }
        .slide-anim {
            &::after {
                font-weight: 400;
                color: var(--bs-mark-color);
            }
        }
    }
}
