.agency {
    position: relative;
    min-height: 100vh;
    display: flex;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 200%;
        background: linear-gradient(180deg, #050505 50%, #0e1016 100%);
        bottom:-100%;
        left: 0;
        // opacity: 0;
        transition: opacity 1s ease  0s;
        pointer-events: none;
        .white-theme & {
            // transition: opacity 0s ease  0s;
            opacity: 1;
        }
    }
    
    @media(min-width:2001px){
        margin-bottom: vw(50);
    }

    &__target {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        pointer-events: none;
        visibility: hidden;
    }
    &__fon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;

        -webkit-mask-image: 
        linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 99%);
        -webkit-mask-composite: destination-in;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: center;

        mask-image: 
        linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 99%);
        mask-composite: intersect;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        mask-position: center;

        
        picture, img {
            width: 100%;
            max-width: rem(1520);
            transform: scale(1.2);
            transition: transform 1.5s cubic-bezier(1,-0.03,.39,1) 0s;

            .loaded & {
                // transition: transform 1.7s cubic-bezier(.78,0,0,.66) 0.5s;
                transition: transform 1.7s cubic-bezier(.67,.01,0,.92) 1s;
                
                transform: scale(1);
            }

            @media(min-width:551px){
                /* включаем маску */
                -webkit-mask-image: 
                linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%),  linear-gradient(to bottom, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%), linear-gradient(to top, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%);
                -webkit-mask-composite: destination-in;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                -webkit-mask-position: center;

                mask-image: 
                linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%),  linear-gradient(to bottom, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%), linear-gradient(to top, rgba(0,0,0,1) 96%, rgba(0,0,0,0) 99%);
                mask-composite: intersect;
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
                mask-position: center;
            }
        }

        background: #050505;

        @media(min-width:551px){
            min-width: rem(1000);
        }
        // @media(max-width:550px){
        //     top: 50%;
        //     transform: translateX(-50%) translateY(-50%);
        // }
    }

    &__container {
        position: relative;
        max-width: 100%;
        width: 100%;
        z-index: 1;
        @include adaptiveClamp(padding-top, 222, 157);
        @include adaptiveClamp(margin-bottom, 1, 0);
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
        height: auto;

        @media(max-width:550px){
            display: flex;
            flex-direction: column;
            @include adaptiveClamp(padding-top, 222, 127);
            @include adaptiveClamp(margin-bottom, 235, 60);
            padding-bottom: 5%;
        }
    }

    &__top-text {
        position: relative;
        @include adaptiveClamp(font-size, 70, 35);
        line-height: 80%;
        letter-spacing: -0.06em;
        color: #f0f0f0;
        width: max-content;
        margin-left: auto;
        font-family: 'TimesNewRomanMTStd', sans-serif; 
        @include adaptiveClamp(padding-right, 34, 28);
        // margin-bottom: -100%;
        span {
            margin-left: 27.5%;
        }

        &::after {
            position: absolute;
            display: inline-block;
            content: '';
            @include adaptiveClamp(width, 42, 28);
            @include adaptiveClamp(height, 3, 1);
            background: #f0f0f0;
            right:0;
            bottom: 0;
            @include adaptiveClamp(bottom, 24, 12);
        }


        @media(min-width:2001px){
            font-size: vw(70);
            margin-bottom: -1.55em;
        }
        @media(min-width:876px) and (max-width:2000px) {
            @include adaptiveClamp(margin-bottom, -112, -56);
        }
        @media(max-width:875px){
            margin-bottom: rem(47);
        }
        @media(max-width:550px){
            margin-top: auto;
        }
    }

    &__title {
        line-height: 0.9;
        letter-spacing: -0.02em;
        @include adaptiveClamp(font-size, 200, 92);
        display: flex;
        flex-direction: column;
        font-family: var(--font-logo);
        margin-bottom: rem(37);
        @include adaptiveClamp(margin-left, -10, -5);
        color: var(--white);


        @media(min-width:2001px){
            font-size: vw(200);
            margin-bottom: -0.92em;
        }
        @media(max-width:500px){
            @include adaptiveClamp(margin-left, -10, -15);
            max-width: rem(200);
        }
    }

    &__title-left {
    }

    &__title-right {
        @media(min-width:2001px){
            margin-left: vw(210);
        }
        @media(min-width:876px) and (max-width:2000px){
            @include adaptiveClamp(margin-left, 210, 150);
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: max-content;
        margin-left: auto;
        // @include adaptiveClamp(gap, 5.5, 4.5);

        @media(min-width:876px){
            margin-top: auto;
        }
    }
    &__link {
        line-height: 120%;
        text-align: right;
        @include adaptiveClamp(font-size, 32, 24);
        color: var(--white);
        transition: all 0.3s ease-in-out  0s;

        @media (min-width: 769px) {
            &:hover span {
                transform: translateY(-110%);
            }
        }


        &:hover {
            color: var(--bs-mark-color);
            text-shadow:  0px 0px 4px var(--bs-title-mark-color);
        }

        @media(min-width:2001px){
            font-size: vw(32);
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: rem(20);

        @media(min-width:876px){
            height: auto;
            flex: auto;
        }
        @media(max-width:875px){
            margin-bottom: rem(33);
        }
    }


    &__estim {
        @media(min-width:876px) and (max-width:2000px){
            @include adaptiveClamp(margin-top, -222, -120);
            margin-bottom: auto;
        }
    }

    &__bot {
        display: flex;
        align-items: center;
        @include adaptiveClamp(gap, 136, 28);
        max-width: 100%;

        @media(min-width:2001px){
            margin-top: vw(-44);
            width: vw(142.13);
        }
        @media(min-width:876px){
            margin-right: rem(180);
            width: max-content;
        }
        @media(min-width:876px) and (max-width:2000px){
            @include adaptiveClamp(margin-top, -44, -28);
        }
    }

    &__year {
        font-weight: 400;
        @include adaptiveClamp(font-size, 24, 16);
        line-height: 110%;
        color: var(--white);
        white-space: nowrap;

        span {
            color: rgba(240, 240, 240, 0.6);
        }


        @media(min-width:2001px){
            font-size: vw(24);
        }
    }

    .leaders__running {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        // @include adaptiveClamp(max-width, 562, );
        margin: 0;

        @media(min-width:876px){
            @include adaptiveClamp(max-width, 662, 228);
        }
        @media(max-width:875px){
            // max-width: 100%;
            // width: auto;
            // width: min-content;
            // width: 48%;
            @include adaptiveClamp(max-width, 1062, 207);
            // width: 100%;
            // max-width: 100%;
        }
        @media(max-width:389px){
            @include adaptiveClamp(max-width, 662, 150);
        }
    }
    .leaders__running-item {
        @include adaptiveClamp(height, 56.85, 40);
        @include adaptiveClamp(width, 142.13, 99.9);
        .white-theme & img {
            filter: grayscale(0%) invert(0%);
        }


        @media(min-width:2001px){
            height: vw(56.85);
            width: vw(142.13);
        }
        
    }

    .leaders__running-row {
        @include adaptiveClamp(gap, 20, 0);
        @include adaptiveClamp(padding-right, 20, 0);
    }
}

.estim {
    font-weight: 500;
    
    &__top {
        display: flex;
        align-items: center;
        @include adaptiveClamp(gap, 15, 11.67);
        @include adaptiveClamp(margin-bottom, 6, 4.67);

        @media(min-width:2001px){
            gap: vw(15);
        }
    }

    &__star {
        @include adaptiveClamp(height, 13, 10.11);
        @include adaptiveClamp(margin-bottom, 2, 1);
        img {
            @include adaptiveClamp(width, 110, 85.55);
        }

        @media(min-width:2001px){
            height: vw(13);
            img {
                width: vw(110);
            }
        }
    }

    &__number {
        @include adaptiveClamp(font-size, 17, 14);
        line-height: 125%;
        color: var(--white);


        @media(min-width:2001px){
            font-size: vw(17);
        }
    }
    p {
        @include adaptiveClamp(font-size, 14, 12);
        color: var(--static-font-color);

        @media(min-width:2001px){
            font-size: vw(14);
        }
    }
}
