.drawing {
    position: relative;
    // @include adaptiveClamp(padding-top, 285, 171);


    
    &__container {
        position: relative;
        display: flex;
        align-items: start;
        gap: rem(42);
        max-width: rem(1402);
        @media(max-width:1200px){
            gap: rem(32);
        }
        @media(max-width:850px){
            flex-direction: column-reverse;
            gap: rem(52);
        }


        &::before {
            position: absolute;
            content: '';
            width: rem(399);
            height: rem(298.4);
            background: linear-gradient(223deg, #fb0 0%, #ff4533 38.5%, #ff4533 67%);
            // top:rem(214);
            top: rem(-71);
            // top: 25%;
            right: rem(-210);
            transform: rotate(-57.54deg);
            filter: blur(200px);
            border-radius: 100%;
            z-index: -1;
           
    
            .blue-page & {
                background: linear-gradient(270deg, #06f 38.5%, #2600ff 49%, #06f 67%);
            }

            @media(max-width:650px){
                display: none;
            }
        }
        &::after {
            position: absolute;
            content: '';
            width: rem(399);
            @include adaptiveClamp(width, 399, 199);
            @include adaptiveClamp(height, 684, 484);
            background:linear-gradient(270deg, #ff4533 38.5%, #fb0 49%, #ff4533 67%);
            top:rem(10);
            left: rem(-259);
            border-radius: 100%;
            transform: rotate(-57.54deg);
            z-index: -1;
            filter: blur(50px);
            opacity: 0.9;

            .blue-page & {
                background: linear-gradient(270deg, #06f 38.5%, #0004ff 49%, #06f 67%);
            }

            @media(max-width:950px){
                display: none;
            }
        }
    
    }

    &__left {
        display: flex;
        align-items: center;
        gap: rem(8);

        @media(max-width:850px){
            flex-direction: column-reverse;
            width: 100%;
        }
    }

    &__number {
        // width: 100%;
    }

    &__number-figure {
        display: flex;
        align-items: start;
        position: relative;
        font-size: rem(200);
        line-height: 92%;
        font-weight: 500;
        background: linear-gradient(-113deg, #fb0 15%, #ff4533 54.5%, #ff4533 67%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;

        min-width: rem(294);
        &::after {
            display: inline;
            content: '+';
            font-weight: 500;
            font-size: rem(80);
            line-height: 92%;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--white-o-b);
            z-index: 1;
            top:0;
            left: 0;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: var(--white-o-b);
            margin-left: auto;
        }

        .blue-page & {
            -webkit-text-fill-color: var(--bs-title-mark-color);
            &::after {
                -webkit-text-fill-color: var(--white-o-b);
            }
        }

        @media(max-width:1200px){
            font-size: rem(140);
            min-width: rem(205);
            &:after {
                font-size: rem(56);
            }

            @media(max-width:850px){
                font-size: rem(200);
                min-width: rem(294);
                &:after {
                    font-size: rem(80);
                }
            }
        }
    }

    &__number-text {
        font-size: rem(18);
        color: var(--white-black-color);
        padding-left: rem(8);
        line-height: 120%;

        @media(max-width:1200px){
            font-size: rem(14);
        }
        @media(max-width:850px){
            font-size: rem(18);
            text-align: center;
            padding-left: 0;
        }
    }

    &__line {
        position: relative;
        width: rem(169);
        height: rem(1);
        margin-top: rem(20);

        &::before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background: var(--bs-title-mark-color);
            top:0;
            left: 0;
            transition: background-color 0.3s ease  0s, width 0.7s ease  1s;

            ._start & {
                width: 100%;
            }

            @media(max-width:900px){
                transition: background-color 0.3s ease  0s, height 0.7s ease  0s;
                width: 100%;
                height: 0;

                ._start & {
                    height: 100%;
                }
            }
        }
        @media(max-width:1250px){
            width: rem(119);
        }
        @media(max-width:850px){
            margin-top: 0;
            width: rem(1);
            height: rem(169);
        }
    }

    &__right {
    }

    &__title {
        @include adaptiveClamp(margin-bottom, 40, 30);
    }
    
    &__right-bot {
        max-width: rem(512);
        margin-left: auto;
        @media(max-width:1200px){
            max-width: 100%;
        }
       
    }
    &__text {
        
    }
}

.user-drawing {
    display: flex;
    gap: rem(16);
    margin-top: rem(40);
    
    @media(max-width:850px){
        margin-top: 0;
        margin-bottom: rem(40);
    }
    &__img {
        width: rem(86);
        height: rem(86);
        border-radius: rem(10);
        border: 1px solid #303030;
        overflow: hidden;
        .white-theme & {
            border-color: var(--bs-border-color);
        }

        @media(max-width:550px){
            @include adaptiveClamp(width, 86, 61);
            @include adaptiveClamp(height, 86, 61);
            @include adaptiveClamp(border-radius, 10, 5);
        }
    }

    &__body {
    }

    &__name {
        font-weight: 500;
        font-size: rem(18);
        @include adaptiveClamp(font-size, 18, 16);
        line-height: 120%;
        color: var(--bs-title-color);
        margin-bottom: rem(2);
        margin-left: rem(5);
        
        @media(max-width:550px){
            margin-left: 0;
        }
    }

    &__text {
        font-size: rem(14);
        line-height: 120%;
        color: rgba(88, 88, 88, 0.8);
        margin-bottom: rem(15);
        margin-left: rem(5);

        .white-theme & {
            color: var(--bs-font-color);
        }

        @media(max-width:550px){
            margin-left: 0;
        }
    }

    &__row {
        display: flex;
        gap: rem(4);

    }

    &__link {
        line-height: 1;
        font-weight: 500;
        font-size: rem(14);
        line-height: 120%;
        color: var(--white);
        display: flex;
        align-items: center;
        gap: rem(9);
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: rem(5.6) rem(12.1);
        border-radius: rem(44);
    
        &::before {
            // position: r;
            content: '';
            width: rem(6);
            height: rem(6);
            background: #d9d9d9;
            top:0;
            left: 0;
            border-radius: 50%;
        }

        .white-theme & {
            color: var(--bs-title-color);
            border-color: var(--bs-border-color);
            &::before {
                background: var(--bs-font-color);
            }
        }

    }
}
