.drawing {
    position: relative;
    // @include adaptiveClamp(padding-top, 285, 171);


    
    &__container {
        position: relative;
        // display: flex;
        align-items: start;
        // gap: rem(42);
        // max-width: rem(1402);
        
        @media(max-width:1400px){
            &._three {
                grid-template-columns: 1fr 1fr;

                .grid-content__right {
                    grid-column: 1 span;
                }
            }
        }
        @media(max-width:1280px){
            &._three {
                grid-template-columns: 1fr 1fr 1fr;

                .grid-content__right {
                    grid-column: 2 span;
                }
            }
        }

        @media(max-width:1000px){
            gap: rem(52);
            &._three {
                display: flex;
                flex-direction: column-reverse;

                .grid-content__right {
                    grid-column: 1 span;
                }
            }
        }


        &::before {
            position: absolute;
            content: '';
            width: rem(399);
            height: rem(298.4);
            background: linear-gradient(223deg, #fb0 0%, #ff4533 38.5%, #ff4533 67%);
            // top:rem(214);
            top: rem(-71);
            // top: 25%;
            right: rem(-210);
            transform: rotate(-57.54deg);
            filter: blur(200px);
            border-radius: 100%;
            z-index: -1;
            
    
            .blue-page & {
                background: linear-gradient(270deg, #06f 38.5%, #2600ff 49%, #06f 67%);
            }
            .green-page & {
                background: linear-gradient(270deg, #01b954 38.5%, #00b050 49%, #01b954 67%);
            }
            .violet-page & {
                background: linear-gradient(270deg, #8206ff 38.5%, #7f02fe 49%, #8206ff 67%);
            }
            .pink-page & {
                background: linear-gradient(270deg, #f701ce 38.5%, #ee01c6 49%, #f701ce 67%);
            }
            
            @media(max-width:650px){
                display: none;
            }
        }
        &::after {
            position: absolute;
            content: '';
            width: rem(399);
            @include adaptiveClamp(width, 399, 199);
            @include adaptiveClamp(height, 684, 484);
            background:linear-gradient(270deg, #ff4533 38.5%, #fb0 49%, #ff4533 67%);
            top:rem(20);
            left: rem(-259);
            border-radius: 100%;
            transform: rotate(-57.54deg);
            z-index: -1;
            filter: blur(50px);
            opacity: 0.9;

            .blue-page & {
                background: linear-gradient(270deg, #06f 38.5%, #0004ff 49%, #06f 67%);
            }
            .green-page & {
                background: linear-gradient(270deg, #01b954 38.5%, #00b050 49%, #01b954 67%);
            }
            .violet-page & {
                background: linear-gradient(270deg, #8206ff 38.5%, #7f02fe 49%, #8206ff 67%);
            }
            .pink-page & {
                background: linear-gradient(270deg, #f701ce 38.5%, #ee01c6 49%, #f701ce 67%);
            }
     
            

            @media(max-width:950px){
                display: none;
            }
        }
    
    }

    &__left {
        display: flex;
        align-items: center;
        gap: rem(8);
        // padding-right: 0;
        @include adaptiveClamp(padding-right, 20, 10);


    
        @media(min-width:1402px){
            // @include adaptiveClamp(max-width, 527, 0);
            width: 100%;
        }
    
        @media(max-width:1520px){
            @include adaptiveClamp(padding-right, 3, 2);
        }
        @media(max-width:1080px){
            min-width: rem(320);
        }

        @media(max-width:1000px){
            flex-direction: column-reverse;
            width: 100%;
        }
    }

    &__number {
        // width: 100%;
    }

    &__number-figure {
        display: flex;
        align-items: start;
        position: relative;
        font-size: rem(200);
        line-height: 92%;
        font-weight: 500;
        background: linear-gradient(-113deg, #fb0 15%, #ff4533 54.5%, #ff4533 67%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;

        // min-width: rem(294);
        min-width: rem(404);
        &::after {
            display: inline;
            content: '+';
            font-weight: 500;
            font-size: rem(80);
            line-height: 92%;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--white-o-b);
            z-index: 1;
            top:0;
            left: 0;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: var(--white-o-b);
            margin-left: auto;
        }

        .blue-page & {
            -webkit-text-fill-color: var(--bs-title-mark-color);
            &::after {
                -webkit-text-fill-color: var(--white-o-b);
            }
        }

        .green-page & {
            -webkit-text-fill-color: #00b050;
        }
        .white-theme.green-page &::after {
            -webkit-text-fill-color: #00b050;
        }

        .violet-page & {
            -webkit-text-fill-color: #7f02fe;
        }
        .white-theme.violet-page &::after {
            -webkit-text-fill-color: #7f02fe;
        }

        .pink-page & {
            -webkit-text-fill-color: #ee01c6;
        }
        .white-theme.pink-page &::after {
            -webkit-text-fill-color: #ee01c6;
        }

        @media(max-width:1300px){
            font-size: rem(140);
            min-width: rem(260);
            &:after {
                font-size: rem(56);
            }
        }
        @media(max-width:1000px){
            font-size: rem(200);
            // min-width: rem(294);
            min-width: rem(404);
            &:after {
                font-size: rem(80);
            }
        }
        @media(max-width:650px){
            font-size: rem(180);
            // min-width: rem(294);
            min-width: rem(370);
            &:after {
                font-size: rem(80);
            }
        }
        @media(max-width:389px){
            font-size: rem(140);
            min-width: rem(260);
            &:after {
                font-size: rem(56);
            }
        }
    }

    &__number-text {
        font-size: rem(18);
        color: var(--white-black-color);
        padding-left: rem(14);
        line-height: 120%;

        @media(max-width:1300px){
            font-size: rem(14);
        }
        @media(max-width:1000px){
            font-size: rem(18);
            padding-left: rem(9);
        }
        @media(max-width:650px){
            padding-left: rem(8);
        }
        @media(max-width:389px){
            font-size: rem(16);
            padding-left: rem(7);
        }
    }

    &__line {
        position: relative;
        width: 100%;
        height: rem(1);
        margin-top: rem(20);
        // margin-right: 0;
        margin-left: rem(-34);
        

        &::before {
            position: absolute;
            content: '';
            width: 0%;
            height: 100%;
            background: var(--bs-title-mark-color);
            top:0;
            left: 0;
            transition: background-color 0.3s ease  0s, width 0.7s ease  1s;

            ._start & {
                width: 100%;
            }

            @media(max-width:900px){
                transition: background-color 0.3s ease  0s, height 0.7s ease  0s;
                width: 100%;
                height: 0;

                ._start & {
                    height: 100%;
                }
            }
        }

        @media(max-width:1520px){
            margin-left: rem(-54);
            // width: rem(142);
            // margin-right: rem(24);
        }
        
        @media(max-width:1400px){
            // width: rem(100);
            margin-left: 0;
            margin-right: rem(32);
            // margin-left: 0;
        }
        @media(max-width:1280px){
            // width: rem(140);
            margin-left: rem(-34);
            margin-right: 0;
        }
        @media(max-width:1150px){
            // width: rem(120);
        }
        @media(max-width:1000px){
            margin-top: 0;
            margin-right: 0;
            width: rem(1);
            height: rem(169);
        }
    }

    &__right {

    }

    &__title {
        @include adaptiveClamp(margin-bottom, 60, 38);
        @include adaptiveClamp(font-size, 32, 24);

        @media(max-width:1500px){
            // @include adaptiveClamp(font-size, 32, 24);
        }
    }
    
    &__right-bot {
        max-width: rem(481);
        margin-left: rem(119);
        @media(max-width:1300px){
            max-width: 100%;
        }

        @media(max-width:1150px){
            margin-left: 0;
        }
    }
    &__text {
        
    }
}

.user-drawing {
    display: flex;
    @include adaptiveClamp(gap, 16, 12.75);
    margin-top: rem(40);
    
    @media(max-width:1000px){
        margin-top: 0;
        margin-bottom: rem(40);
    }
    &__img {
        width: rem(87.38);
        height: rem(87.38);
        border-radius: rem(10);
        border: 1px solid #303030;
        overflow: hidden;
        .white-theme & {
            border-color: var(--bs-border-color);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding-top: rem(1.8);
    }

    &__name {
        font-weight: 500;
        font-size: rem(18);
        @include adaptiveClamp(font-size, 18, 16);

        line-height: 120%;
        color: var(--bs-title-color);
        margin-bottom: rem(2);
        
        @media(max-width:550px){
            margin-left: 0;
        }
    }

    &__text {
        font-size: rem(14);
        line-height: 120%;
        color: rgba(88, 88, 88, 0.8);
        margin-bottom: rem(15);

        .white-theme & {
            color: var(--bs-font-color);
        }

        @media(max-width:550px){
            margin-left: 0;
        }
    }

    &__row {
        display: flex;
        gap: rem(4.87);
        margin-top: auto;

    }

    &__link {
        line-height: 1;
        font-weight: 500;
        font-size: rem(14);
        @include adaptiveClamp(font-size, 14, 12);
        line-height: 120%;
        color: var(--white);
        display: flex;
        align-items: center;
        gap: rem(9);
        // border: 1px solid rgba(255, 255, 255, 0.15);
        border: 0.50px solid rgba(255, 255, 255, 0.15);

        @include adaptiveClamp(padding-left, 15, 14);   
        @include adaptiveClamp(padding-right, 15, 14);
        @include adaptiveClamp(padding-top, 5.6, 4.8);
        @include adaptiveClamp(padding-bottom, 5.6, 4.8);
        border-radius: 6px;

    

        .white-theme & {
            color: var(--bs-title-color);
            border-color: var(--bs-border-color);
            &::before {
                background: var(--bs-font-color);
            }
        }

    }
}
