.expert-site {
    // @include adaptiveClamp(padding-top, 190, 170);

    &__container {

        &::before {
            top: rem(-175);
            right: auto;
            left: rem(-136.5)
        }
    }

    &__head {
        @include adaptiveClamp(margin-bottom, 85, 77);

        &._m-two {
            @include adaptiveClamp(margin-bottom, 106.87, 53.25);
        }
    }

    &__title {
        max-width: rem(731);
    }

    &__text {
        max-width: rem(440);
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: rem(15);
        @include adaptiveClamp(row-gap, 40, 20);

        @media(max-width:1024px){
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width:650px){
            grid-template-columns: 1fr;
        }
    }

    &__slider {
        @media(min-width:651px){
            overflow: hidden;
        }
    }

    &__item {
    }


    &__link-row {
        @include adaptiveClamp(column-gap, 85, 0);
        column-count: 3;
        row-gap: rem(0);
        @media(max-width:1340px){
            @include adaptiveClamp(column-gap, 40, 20);
        }
        @media(max-width:1024px){
            column-count: 2;
        }
        @media(max-width:650px){
            column-count: 1;
            row-gap: rem(2);
        }
    }

    &__link {
        margin-top: rem(-4);
        display: inline-block;
        width: 100%;
        position: relative;
        @include adaptiveClamp(padding-top, 19.5, 20);
        @include adaptiveClamp(padding-bottom, 17.5, 18);

        font-weight: 500;
        @include adaptiveClamp(font-size, 18, 16);
        line-height: 120%;
        color: var(--white-black-color);
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        break-inside: avoid;
        transition: background-color 0.4s ease  0s, color 0.4s ease  0s, border-color 0.4s ease  0s;
        overflow: hidden;
        

    

        @media(min-width:769px){
            &:hover {
                // background-color: var(--bs-title-mark-color);
                border-color: var(--bs-title-mark-color);
                &::after {
                    height: 100%;
                    width: 100%;
                }
                &::before {
                    transform: translateY(-50%) rotate(45deg);
                }
                .expert-site__link-number {
                    color: var(--white);
                }
            }
        }

        @media(max-width:650px){
            &._scr-activ {
                // background-color: var(--bs-title-mark-color);
                border-color: var(--bs-title-mark-color);
                &::after {
                    height: 100%;
                    width: 100%;
                }
                &::before {
                    transform: translateY(-50%) rotate(45deg);
                }
                .expert-site__link-number {
                    color: var(--white);
                }
            }
        }


        .white-theme & {
            border-color: var(--bs-border-color);

            &:hover {
                color: var(--white);
                &::before {
                    filter: invert(0);
                    opacity: 1;
                }
                
            }
            
        }

        @media(min-width:651px){
            padding-left: rem(30);
            @include adaptiveClamp(padding-right, 32.5, 26.5);
        }
        @media(max-width:650px){
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding-left: rem(20);
            padding-right: rem(20);
            width: calc(100% + 2.5rem);
        }

        &-number {
            position: relative;
            font-size: rem(12);
            color: var(--bs-title-mark-color);
            content: "" attr(data-number-quant);
            transition: color 0.3s ease  0s;
            @include adaptiveClamp(bottom, 11, 17);
            @include adaptiveClamp(right, 0, 3);
        }

        &::before {
            position: absolute;
            content: '';
            width: rem(10);
            height: rem(10);
            background: url(@img/expert-site/expert-site-link-str.svg) no-repeat center center / contain;
            top:50%;
            transform: translateY(-50%);
            right: 0;
        
            transition: filter 0.4s ease  0s, opacity 0.4s ease  0s, transform 0.4s ease  0s;
            .white-theme & {
                filter: invert(100%);
                opacity: 0.9;
            }
            @media(min-width:651px){
                @include adaptiveClamp(right, 32.5, 26.5);
            }
            @media(max-width:650px){
                right: rem(20);
            }
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 0%;
            background-color: var(--bs-title-mark-color);
            top: 0;
            left: 0;
            transition: height 0.3s ease-in-out  0s;
            z-index: -1;
        }

    }
}


.item-expert-site {
    position: relative;
    @include adaptiveClamp(padding-top, 35, 19.63);
    @include adaptiveClamp(padding-left, 32, 20);
    @include adaptiveClamp(padding-right, 32, 20);
    @include adaptiveClamp(padding-bottom, 41.68, 21.37);
    @include adaptiveClamp(min-height, 515, 379);
    border-radius: rem(10);
    display: flex;
    flex-direction: column;
    border: rem(1) solid rgba(255, 255, 255, 0.07);
    overflow: hidden;
    height: auto;

    &.swiper-slide {
        @include adaptiveClamp(min-height, 515, 510);
    }



    @media(min-width:769px){
        &:hover::after {
            opacity: 1;
            right: rem(-124);
        }
    }
    @media(max-width:768px){
        &.swiper-slide-active::after {
            opacity: 1;
            right: rem(-124);
        }
    }

    .white-theme & {
        border-color: var(--bs-border-color);
    }

    @media(max-width:550px){
        border-radius: rem(20);
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: url(@img/expert-site/expert-site-item-bg.webp) no-repeat center center / cover;
        bottom:0;
        right: 0;
        pointer-events: none;

        .white-theme & {
            background: url(@img/expert-site/expert-site-item-bg-black.webp) no-repeat center center / cover;
        }
    }

    &::after {
        position: absolute;
        content: '';
        width: rem(317);
        height: rem(296);
        border-radius: 50%;
        background: #ff443377;
        filter: blur(100px);
        top:rem(-128);
        right: rem(-224);
        pointer-events: none;
        transition: opacity 0.5s ease  0s;
        opacity: 0;
        .blue-page & {
            background: rgba(0, 102, 255, 0.425);
        }

        .white-theme & {
            // opacity: 0;
        }
    }

    &__tern {
        font-weight: 400;
        font-size: rem(18);
        line-height: 120%;
        color: var(--bs-mark-color);
        @include adaptiveClamp(margin-bottom, 48, 21);
    }

    &__title {
        font-weight: 600;
        font-size: rem(28);
        color: var(--white);
        @include adaptiveClamp(margin-bottom, 30, 21);
        max-width: rem(310);
        .white-theme & {    
            color: var(--bs-title-color);
        }

        @media(max-width:1190px){
            font-size: rem(26);
        }
        @media(max-width:1024px){
            font-size: rem(28);
        }
        @media(max-width:380px){
            font-size: rem(26);
        }
    }

    &__text {
        color: rgba(255, 255, 255, 0.8);
        font-size: rem(18);
        margin-bottom: rem(20);
        max-width: rem(328);

        .white-theme & {
            color: var(--bs-font-color);
        }
    }

    &__price {
        display: flex;
        align-items: end; 
        gap: rem(8);
        margin-top: auto;
        margin-bottom: rem(40.32);
        @include adaptiveClamp(font-size, 20, 18);
        font-weight: 500;
        color: var(--white);
        line-height: 120%;

        .big {
            @include adaptiveClamp(font-size, 32, 28);
            font-weight: 600;
            line-height: 104%;
        }

        .white-theme & {
            color: var(--bs-title-color);
        }

        @media(max-width:550px){
            margin-bottom: rem(55);
        }


        &._m-t-two {
            margin-top: rem(16.56);
        }
    }

    &__button {
        width: 100%;

        @media(max-width:550px){
            font-weight: 600;
            border-radius: rem(12);
        }
    }

    &__discount-prc {
        width: max-content;
        line-height: 1;
        font-size: rem(18);
        color: var(--white);
        border-radius: 15px;
        padding: rem(5.65) rem(11.87) rem(5.65);
        background-color: var(--bs-title-mark-color);
        @include adaptiveClamp(margin-bottom, 37.56, 21);
        text-align: center;
        
    }

    &__discount {
        display: inline-block;
        width: max-content;
        position: relative;
        margin-top: auto;
        line-height: 120%;
        color: var(--bs-mark-color);
        font-size: rem(20);
        
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: rem(1);
            background-color: var(--bs-mark-color);
            top:51%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}
