.leaders {
    // @include adaptiveClamp(padding-top, 210, 170);

    &__container {
    }
    &__head-text {
        @include adaptiveClamp(margin-bottom, 72.86, 30);
    }
    &__title {
        max-width: rem(735);
    }

    &__text {
        max-width: rem(440);
    }

    &__running {
        position: relative;
        width: 100%;
        max-width: rem(800);
        margin-left: auto;
        margin-right: auto;
        mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
        -webkit-mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);

        &:last-child {
            @include adaptiveClamp(margin-top, 25.23, 18);
        }

        ._two & {
            max-width: rem(850);
            mask-image: linear-gradient(90deg, transparent 7.5%, black 35%, black 65%, transparent 96%);
            -webkit-mask-image: linear-gradient(90deg, transparent 7.5%, black 35%, black 65%, transparent 96%);

            &:last-child {
                mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 92%);
                -webkit-mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 92%);
            }
        }

        
    }



    &__running-row {
        gap: rem(20);
        padding-right: rem(20);
    }

    &__running-item {
        width: rem(200);
        height: rem(80);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            .white-theme & {
                transform: grayscale(100%);
                filter: grayscale(100%) invert(100%);
            }
        }
    }
}
.title-big {
}
.bs-text {
}
.t-c {
}
.running {

    &__row {
    }

    &__item {
    }
}
