.reviews {
    // @include adaptiveClamp(padding-top, 240, 125);

    &__container {
    }

    &__head {
    }

    &__title {
    }

    &__text.bs-text {
        max-width: rem(438);
    }

    &__slider {
        position: relative;
        overflow: hidden;
        padding-bottom: rem(5);

        @media(min-width:651px){
            mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
            -webkit-mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
        }
        @media(max-width:650px){
            overflow: visible;
        }
    }

    &__wrapper {
        display: flex;
        gap: rem(17.5);
        padding-right: rem(17.5);

        @media(max-width:1024px){
            gap: rem(15);
            padding-right: rem(15);
        }
    }

    &__slide {
        
    }
}

.slide-reviews {
    width: rem(435);

    display: flex;
    flex-direction: column;
    height: auto;
    @include adaptiveClamp(padding-top, 35, 20);
    @include adaptiveClamp(padding-left, 32, 20);
    @include adaptiveClamp(padding-right, 31.5, 20);
    // @include adaptiveClamp(min-height, 515, 450);
    min-height: rem(420);

    padding-bottom: rem(27);
    border-radius: 10px;
    border: rem(1) solid var(--bs-border-color-two);
    cursor: pointer;
    background-color: var(--body-color);
    transition: all 0.3s ease  0s;

    @media(max-width:1440px){
        width: calc((100vw - 6.250rem - (1.09375rem * 2)) / 3);
    }
    @media(max-width:1024px){
        width: calc((100vw - (3.125rem * 2) - (0.9375rem * 1)) / 2);
    }
    @media(max-width:1024px){
        width: calc((100vw - (2.1875rem * 2) - (0.9375rem * 1)) / 2);
    }
    @media(max-width:768px){
        width: calc((100vw - (1.25rem * 2) - (0.9375rem * 1)) / 2);
    }
    @media(max-width:650px){
        width: calc(100vw - (1.25rem * 2));
    }

    
    &__logo {
        @include adaptiveClamp(height, 35, 30);
        @include adaptiveClamp(margin-bottom, 52, 30);
        img {
            height: 100%;
        }

        .white-theme & {
            filter: invert(100%);
        }

        // @media(max-width:550px){
        //     display: none;
        // }
    }

    &__text {
        position: relative;
        margin-bottom: rem(5.9);
        flex: auto;
        line-height: 136%;
        color: var(--white-black-color);
        display: -webkit-box;
        -webkit-line-clamp: 11;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; 
        max-height: calc(1.36em * 11);
        min-height: calc(1.36em * 11);
        white-space: wrap;
        
        @media(max-width:1300px){
            -webkit-line-clamp: 8;
            max-height: calc(1.36em * 8);
            min-height: calc(1.36em * 8);
        }

        @media(max-width:550px){
            margin-bottom: rem(39.6);
        }
        @media(max-width:500px){
            -webkit-line-clamp: 10;
            max-height: calc(1.36em * 10);
            min-height: calc(1.36em * 10);
        }

        // @media(min-width:551px){
            mask-image: linear-gradient(180deg, #0c0e11 0%, #0c0e11 28.3%, rgba(12, 14, 17, 0.96) 65.25%, rgba(12, 14, 17, 0.91) 27.95%, rgba(12, 14, 17, 0.73) 13.83%, rgba(12, 14, 17, 0) 89%);
        // }
    }

    &__info {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: rem(16);

        // @media(max-width:550px){
        //     flex-direction: column;
        //     align-items: start;
        //     gap: rem(15.39);
        // }
    }

    &__info-img, img.slide-reviews__info-img {
        width: rem(42.88);
        height: rem(42.88);
        object-fit: cover;
        border-radius: 50%;

        // @media(max-width:550px){
        //     width: rem(53);
        //     height: rem(53);
        // }
    }

    &__info-body {
        
    }

    &__info-name {
        color: var(--white-black-color);
        line-height: 120%;
        margin-bottom: rem(2);
        @media(max-width:550px){
            color: var(--bs-title-color);
        }
    }

    &__info-post {
        font-size: rem(14);
        color: #cdcdd7;
        
        .white-theme & {
            color: var(--bs-font-color);
        }
        @media(max-width:550px){
            color: rgba(255, 255, 255, 0.4);
            .white-theme & {
                color: var(--bs-font-color);
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
        @include adaptiveClamp(margin-top, 90.72, 20);

        @media(max-width:550px){
            display: none;
        }
    }

    &__date {
        font-size: 14px;
        line-height: 120%;
        color: var(--white-black-color);
    }

    &__like {
        display: flex;
        align-items: center;
        gap: rem(5.5);
        color: var(--white-black-color);
        font-size: rem(14);
        line-height: 1;
        transition: color 0.3s ease  0s, opacity 0.3s ease  0s;
        &:hover {
            opacity: 0.7;
        }
        &._active {
            color: red;

            svg {
                path {
                    fill: red;
                }
            }
        }
    }

    &__like-icon {
        width: rem(18);
        height: rem(15);

        svg {
            path {
                transition: all 0.3s ease  0s;
                fill: var(--white-black-color);
            }
        }
    }

    &__like-number {

    }
}
