// section:not(.services) {
//     visibility: hidden
// }

.services {
    // margin-top: 1000px;
    &__container {
    }

    &__head {
        @include adaptiveClamp(margin-bottom, 72, 52);
    }

    &__denom {
        @media(min-width:1281px){
            @include adaptiveClamp(margin-bottom, -16, -14);
        }
        @media(max-width:1280px){
            margin-bottom: rem(35.6);
        }
    }

    &__title.title-big {
        position: relative;
        @include adaptiveClamp(font-size, 240, 110);
        line-height: 74%;
        width: max-content;
        margin-left: auto;
        margin-right: auto;

        .services__title-number {
            position: absolute;
            top: 3%;
            right:1%;
            font-weight: 400;
            @include adaptiveClamp(font-size, 42, 32);
            line-height: 110%;
            color: var(--bs-title-mark-color);
    
            @media(max-width:550px){
                top: 3%;
                right: 0;
            }
        }
    }


    &__row {
        @media(min-width:1025px){
            .safari & {
                @include adaptiveClamp(min-height, 1365, 1210);
    
                @media(max-width:650px){
                    @include adaptiveClamp(min-height, 1665, 1385);
                }
            }
        }
    }

    &__item {
    }
}



.item-services {
    position: relative;
    background: #171a21;
    transition: background-color 0.3s ease  0s, margin-top 0.6s ease  0s;
    overscroll-behavior: contain;

    .white-theme & {
        background: #fff;
    }

    &._active {
        cursor: pointer;
        &.blue {
            background-color: var(--blueBody);
        }
        &.orange {
            background-color: var(--orange);
        }
        &.green {
            background-color: var(--greenBody);
        }
        &.violet {
            background-color: var(--violet);
        }
        &.pink {
            background-color: var(--pink);
        }
    }


    &:not(:last-child) {
        border-bottom: 1px solid var(--bs-border-color);
    }

    // &:nth-child(2) {
    //     // z-index: 2;
    // }
    // &:nth-child(3) {
    //     // z-index: 3;
    // }
    // &:nth-child(4) {
    //     // z-index: 4;
    // }
    // &:nth-child(5) {
    //     // z-index: 5;
    // }

    @media(max-width:650px){
        &:nth-child(2) {
            .item-services__img {
                @include adaptiveClamp(width, 477, 330);
            }
        }
        &:nth-child(3) {
            .item-services__img {
                @include adaptiveClamp(width, 477, 320);
            }
        }

        &:nth-child(4) {

        }

        &:nth-child(5) {

        }
    }


    &__container {
        position: relative;

    }

    &__body {
        padding-top: rem(32);
        @include adaptiveClamp(min-height, 227, 188.33);
        transition: min-height 0.6s ease  0s;
        overflow: hidden;
        will-change: min-height, height;
        

        ._active & {
            @include adaptiveClamp(min-height, 450, 451);
        }

        @media(max-width:650px){
            ._active & {
                @include adaptiveClamp(min-height, 750, 628);
            }
        }

        
    }

    &__head {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__head-left {
        display: flex;
        align-items: start;
        // @include adaptiveClamp(gap, 40, 24);
        gap: rem(10);

        @media(max-width:1280px){
            flex-direction: column;
            gap: rem(38);
            @include adaptiveClamp(gap, 80, 38);
            margin-right: -30%;
        }
    }

    &__number {
        font-weight: 400;
        @include adaptiveClamp(font-size, 18, 12);
        // line-height: 92%;
        letter-spacing: -0.02em;
        color: var(--white-black-color);
        font-family: var(--font-logo);
        @include adaptiveClamp(min-width, 109, 50);
        transition: color 0.3s ease  0s;

        ._active & {
            color: var(--white);
        }
    }

    &__title-box {
        position: relative;
    }
    &__title {
        font-family: var(--font-logo);
        @include adaptiveClamp(font-size, 110, 35);
        line-height: 95%;
        color: var(--white-black-color);
        text-transform: uppercase;
        transition: color 0.3s ease  0s, margin-top 0.6s ease  0s, opacity 0.3s ease  0s;

        &.border {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #ffffff00 !important;
            -webkit-text-stroke: rem(1) #fff; 
            z-index: 3;
            paint-order: stroke;
            opacity: 0;
        }

        ._active & {
            color: var(--white);
            &.border {
                opacity: 1;
            }
        }


        @media(max-width:1280px){
            @include adaptiveClamp(margin-top, -20, 50);
            ._active & {
                margin: 0;
            }
        }
    }

    &__plus {
        ._active & {
            color: var(--white);

            &::before, &::after {
                background-color: var(--white);
            }
        }

    }

    &__text {
        @include adaptiveClamp(max-width, 453, 180);
        // 269
        @include adaptiveClamp(padding-top, 34, 21);

        @include adaptiveClamp(font-size, 18, 14);
        line-height: 120%;
        color: var(--white);
        opacity: 0;
        transform: translateY(20%);
        margin-bottom: rem(-400);
        will-change: transform, opacity;


        transition: opacity 0.4s ease  0s, transform 0.4s ease  0s;

        ._active & {
            opacity: 1;
            transform: translateY(0%);
        }

        @media(min-width: 1281px){
            @include adaptiveClamp(margin-left, 125, 50);
        }
        @media(max-width:650px){
            @include adaptiveClamp(max-width, 453, 238);
        }
    }

    &__img {
        pointer-events: none;
        position: absolute;
        bottom: rem(-1);
        @include adaptiveClamp(left, 520, 350);
        @include adaptiveClamp(width, 477, 371);
        /* изоляция слоя для стабильного скейла */
        isolation: isolate;
        contain: paint;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        img {
            @include adaptiveClamp(width, 477, 371);
            height: auto;
            transform: scale(0.3) translateZ(0.01px);
            opacity: 0;
            transition: opacity 0.4s ease  0s, transform 0.6s ease  0s;
            transform-origin: center bottom;
            .safari & {
                transition: opacity 0.1s ease  0s, transform 0.2s ease  0s;
            }
    
            @media(max-width:650px){
                margin-bottom: rem(-10);
            }

            ._active & {
                opacity: 1;
                transition: opacity 0.4s ease  0s, transform 0.6s ease  0s;
                transform: scale(1) translateZ(0.01px);

                .safari & {
                    transition: opacity 0.4s ease  0.3s, transform 0.6s ease  0.3s;
                }
            }
        }


        @media(max-width:650px){
            @include adaptiveClamp(left, 700, 145);
            overflow: hidden;
            bottom: 0;
        }
        @media(max-width:389px){
            @include adaptiveClamp(left, 520, 125);
        }
    }

    &__animation {
        position: absolute;
        bottom: 0;
        right: 0;
        // width: 50%;
        height: 100%;
        overflow: hidden;
        visibility: hidden;
        display: flex;
        align-items: end;
        justify-content: center;
        z-index: 2;
        max-width: var(--width-anim, 810px);
        width: 100%;
        // border: 1px solid red; 
        padding-left: rem(10);
        padding-right: rem(10);
        transition: visibility 0s ease  0.3s;
        pointer-events: none;

        ._active & {
            visibility: visible;
            transition: visibility 0s ease  0s;
            pointer-events: all;
        }
    }
    &__btn-row {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s ease  0s;
        // display: flex; 
        // flex-wrap: wrap;
        ._active & {
            opacity: 1;
        }

 
        @include adaptiveClamp(height, 800, 802);

        @media(max-width:1250px){
            @include adaptiveClamp(height, 1000, 1002);
        }
        @media(max-width:650px){
            @include adaptiveClamp(height, 1525, 1342);
        }


        canvas {
            pointer-events: none !important;
        }
    }
    
    .services__btn-str {
        position: absolute;
        @include adaptiveClamp(width, 147, 110);
        @include adaptiveClamp(height, 147, 110);
        @include adaptiveClamp(font-size, 15, 13);
        padding: rem(5);
        border-color: var(--white);
        color: var(--white);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);

        &:nth-child(3) {
            @include adaptiveClamp(top, 150, 112);
            right: 0;
        }
        &:nth-child(2) {
            @include adaptiveClamp(top, 150, 112);
            right: 20%;
        }
        &:nth-child(1) {
            @include adaptiveClamp(top, 150, 112);
            right: 40%;
        }
        &:nth-child(4) {
            @include adaptiveClamp(top, 150, 112);
            right: 60%;
        }
        &:nth-child(5) {
            @include adaptiveClamp(top, 150, 112);
            right: 80%;
        }
        &:nth-child(6) {
            top: 0;
            right: 5%;
        }
        &:nth-child(7) {
            top: 0;
            right: 25%;
        }
        &:nth-child(8) {
            right: 45%;
        }
        &:nth-child(9) {
            right: 65%;
        }
        &:nth-child(10) {
            right: 85%;
        }

        @media(max-width:1250px){
            &:nth-child(2) {
                @include adaptiveClamp(top, 300, 224);
                right: 0;
            }
            &:nth-child(1) {
                @include adaptiveClamp(top, 300, 224);
                right: 30%;
            }
            &:nth-child(3) {
                @include adaptiveClamp(top, 300, 224);
                right: 60%;
            }
            &:nth-child(4) {
                @include adaptiveClamp(top, 300, 224);
                right: 80%;
            }
            &:nth-child(5) {
                @include adaptiveClamp(top, 150, 112);
                right: 5%;
            }
            &:nth-child(6) {
                @include adaptiveClamp(top, 150, 112);
                right: 25%;
            }
            &:nth-child(7) {
                @include adaptiveClamp(top, 150, 112);
                right: 45%;
            }
            &:nth-child(8) {
                top: 0;
                right: 15%;
            }
            &:nth-child(9) {
                top: 0;
                right: 35%;
            }
            &:nth-child(10) {
                top: 0;
                right: 65%;
            }
        }
        @media(max-width:768px){
            &:nth-child(5) {
                @include adaptiveClamp(top, 450, 336);
                right: 0;
            }
            &:nth-child(2) {
                @include adaptiveClamp(top, 450, 336);
                right: 30%;
            }
            &:nth-child(3) {
                @include adaptiveClamp(top, 450, 336);
                right: 60%;
            }
            &:nth-child(4) {
                @include adaptiveClamp(top, 300, 224);
                right: 5%;
            }
            &:nth-child(1) {
                @include adaptiveClamp(top, 300, 224);
                right: 30%;
            }
            &:nth-child(6) {
                @include adaptiveClamp(top, 300, 224);
                right: 50%;
            }
            &:nth-child(7) {
                @include adaptiveClamp(top, 150, 112);
                top: 0;
                right: 15%;
            }
            &:nth-child(8) {
                @include adaptiveClamp(top, 150, 112);
                right: 35%;
            }
            &:nth-child(9) {
                @include adaptiveClamp(top, 150, 112);
                right: 55%;
            }
            &:nth-child(10) {
                top: 0;
                right: 45%;
            }
        }

        &:hover {
            background-color: var(--white);
            color: #fff;
        }
    }
    &.blue .services__btn-str {
        svg {
            path {
                fill: var(--blueBody);
            }
        }
    } 
    &.orange .services__btn-str {
        svg {
            path {
                fill: var(--orange);
            }
        }
    } 
    &.green .services__btn-str {
        svg {
            path {
                fill: var(--greenBody);
            }
        }
    } 
    &.violet .services__btn-str {
        svg {
            path {
                fill: var(--violet);
            }
        }
    } 
    &.pink .services__btn-str {
        svg {
            path {
                fill: var(--pink);
            }
        }
    } 


    &__link {
        display: none;
    }
}
