.stages {
    // @include adaptiveClamp(padding-top, 260, 135);
    @include adaptiveClamp(padding-top, 140, 85.5);
    @include adaptiveClamp(margin-top, 140, 85.5);


    &._two {
        margin-top: rem(-5) !important;
        .white-theme & {
            margin-top: rem(-5) !important;
        }       
        @include adaptiveClamp(padding-top, 240, 171);
    }

    &__container {
    }

    &__head {
        @include adaptiveClamp(margin-bottom, 85, 57);
    }

    &__title {
    }

    &__text {
    }

    &__slider {
        
    }

    &__wrapper {
    }

    &__slide {
        position: relative;
        white-space: wrap;
        transition: color 0.3s ease  0s, border-color 0.3s ease  0s, background-color 0.3s ease  0s;
        cursor: pointer;
        padding: 0 !important;
        height: auto;
        display: flex;
        flex-direction: column;

        &.bs-card {
            border-color: rgba(255, 255, 255, 0.07);
        }
        @media(min-width:1025px){
            &:hover {
                &::before {
                    opacity: 0.6;
                }
                .stages__number {
                    color: var(--bs-mark-color);
                }
                .arranged & .stages__title-slide {
                    color: var(--bs-mark-color);
                }
            }
        }
        @media(max-width:1024px){
            &.swiper-slide-active {
                &::before {
                    opacity: 0.6;
                }
                .stages__number {
                    color: var(--bs-mark-color);
                }
                .arranged & .stages__title-slide {
                    color: var(--bs-mark-color);
                }
            }
        }
        @media(max-width:650px){
            @include adaptiveClamp(min-height, 915, 379);
        }

        &::before {
            position: absolute;
            content: '';
            width: rem(317);
            height: rem(296);
            background: var(--bs-title-mark-color);
            filter: blur(100px);
            border-radius: 100%;
            top: rem(-200);
            right: rem(27);
            opacity: 0;
            z-index: -1;
            transition: opacity 0.6s ease  0s;
        }
    }

    &__slide-body {
        @include adaptiveClamp(padding-top, 35, 19.63);
        @include adaptiveClamp(padding-left, 32, 20);
        @include adaptiveClamp(padding-right, 32, 20);
        @include adaptiveClamp(padding-bottom, 41.68, 21.37);
        margin-bottom: auto;
    }

    &__title-slide {
        color: var(--white);
        font-size: rem(18);


        .arranged & {
            font-size: 24px;
            line-height: 115%;
            transition: color 0.3s ease  0s;
            margin-bottom: rem(25);
        }
    }
    &__number {
        margin-bottom: rem(38);
        font-size: rem(18);
        font-size: rem(18);
    }

    &__img-slide {
        margin-top: rem(50);
        width: 100%;

        img {
            width: 100%;
        }
    }

    &.black-fon-sec .btn-row.btn-down-row {
        p {
            color: var(--white);
        }
    }
}

.running {

    &__row {
    }

    &__item {
    }
}
