// Заголовки, общие БЄМ блоки и проче...
body {
    line-height: var(--bs-line-height);
}

* {
    transition: color 0.3s ease  0s, border-color 0.3s ease  0s, background-color 0.3s ease  0s;
    &:not(em, i, span, b, strong) {
        line-height: var(--bs-line-height);
    }
}
a {
    color: var(--bs-font-color);
    cursor: pointer;
}
h1, h2, h3, h4, h5 {
    color: var(--bs-title-color);

    em, i {
        color: var(--bs-title-mark-color);
        font-style: italic;
        font-family: 'NotoSerif', sans-serif; 
        font-weight: 400;
    }
}

.title-big {
    line-height: 92%;
    letter-spacing: -0.02em;
    text-align: center;
    font-weight: 500;
    @include adaptiveClamp(font-size, 60, 35);
    @include adaptiveClamp(margin-bottom, 40, 30);
    @media(max-width:750px){
        @include adaptiveClamp(font-size, 50, 35);
    }
}
.title-min {
    @include adaptiveClamp(font-size, 40, 30);
    line-height: 110%;
}
.bs-text {
    @include adaptiveClamp(font-size, 18, 16);
}
.t-c {
    text-align: center;
}

.head-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveClamp(margin-bottom, 85, 75);

    .title-big {
        max-width: rem(731);
    }
    .bs-text {
        max-width: rem(567);
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bs-card {
    @include adaptiveClamp(padding-top, 35, 19.63);
    @include adaptiveClamp(padding-left, 32, 20);
    @include adaptiveClamp(padding-right, 32, 20);
    @include adaptiveClamp(padding-bottom, 41.68, 21.37);
    @include adaptiveClamp(min-height, 515, 379);

    border: rem(1) solid rgba(255, 255, 255, 0.07);
    border-radius: rem(10);
    overflow: hidden;

    .white-theme & {
        border-color: var(--bs-border-color);
    }
}

//buttons
.link-slide {
    position: relative;
    overflow: hidden;
    color: var(--white-black-color);


    span {
        display: inline-block;
        transition: all 0.3s ease  0s;
    }
 
    @media(min-width:769px){
        &:hover {
            span {
                transform: translateY(-100%);
            }
            &::after {
                top: 0;
            }
        }
    }
    &::after {
        position: absolute;
        content: " " attr(data-content);
        width: 100%;
        height: 100%;
        top:100%;
        left: 0;
        color: var(--bs-font-color);
        transition: all 0.3s ease  0s;
    }
}

.button {
    display: inline-block;
    font-weight: 500;
    font-size: rem(13);
    line-height: 120%;
    color: var(--white);
    background: var(--bs-title-mark-color);
    padding: rem(14) rem(22.3) rem(10);
    border-radius: rem(4);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease  0s, transform 0.3s ease  0s, opacity 0.3s ease  0s;

    &:active {
        transform: scale(0.97);
    }

    &:hover {
        background: var(--bs-button-hover-color);
    }

    &.button-slide .slide-anim::after {
        color: rgba(255, 255, 255, 0.6);
    }

    @media(max-width:550px){
        font-size: rem(16);
        padding: rem(15.3) rem(22.3) rem(11.3);
    }

    &.button-down {
        position: relative;
        padding: rem(14) rem(22.3) rem(10) rem(44);

        &::before {
            position: absolute;
            content: '';
            width: rem(27);
            height: rem(27);
            background: url(@img/button-down-icon.svg) no-repeat center center / contain;
            top:50%;
            transform: translateY(-50%);
            left: rem(14);
            transition: opacity 0.3s ease  0s;
        }

        &:hover::before {
            opacity: 0.6;
        }
    }
}

.button-circe {
    position: relative;
    @include adaptiveClamp(width, 150, 120);
    @include adaptiveClamp(height, 150, 120);
    border: 1px solid var(--bs-title-mark-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bs-title-color);
    text-align: center;
    @include adaptiveClamp(font-size, 16, 14);
    font-weight: 500;
    line-height: 120%;
    transition: background-color 0.3s ease  0s, color 0.2s ease  0s, font-size 0.2s ease  0s;


    svg {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s ease  0s, opacity 0.3s ease  0s, transform 0.3s ease  0s;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        opacity: 0;
        @include adaptiveClamp(width, 20, 15);
        @include adaptiveClamp(height, 19, 14);
    }


    &:hover {
        background: var(--bs-title-mark-color);
        color: var(--bs-title-mark-color);
        @include adaptiveClamp(font-size, 10, 8);
        svg {
            top: 50%;
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
    }
}

.button-slide {
    color: var(--white);

    @media(min-width:769px){
        &:hover {
            .slide-anim::before {
                transform: translateY(-100%);
            }
            .slide-anim::after {
                top: 0;
            }
        }
    }



    .slide-anim {
        position: relative;
        display: inline-block;
        transition: all 0.3s ease  0s;
        overflow: hidden;

        &::before {
            display: inline-block;
            position: relative;
            content: " " attr(data-content);
            width: 100%;
            height: 100%;
            transition: all 0.3s ease  0s;
        }

        &::after {
            position: absolute;
            content: " " attr(data-content);
            width: 100%;
            height: 100%;
            top:100%;
            left: 0;
            color: var(--bs-font-color);
            // color: var(--bs-button-text-color);
            font-weight: 500;
            transition: all 0.3s ease  0s !important;
        }
    }
}

a.link-line, a.link-line::after, a.link-line span {
    font-size: rem(14);
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: rem(2);
    color: var(--bs-font-color);
    // border-bottom: rem(0.1) solid var(--bs-font-color);
}
a.link-line::after {
    color: var(--white-black-color);
}
//input
input::placeholder {
    color: rgba(255, 255, 255, 0.2);

    .white-thema & {
        color: var(--bs-font-color);
    }
}
input.text {
    font-weight: 500;
    color: var(--white-black-color);
    line-height: 120%;
    padding-bottom: rem(15);
    border-bottom: rem(0.5) solid rgba(255, 255, 255, 0.2);
    background: none;
    font-size: rem(18);
    width: 100%;


    @media(max-width:768px){
        font-size: rem(16);
        padding-bottom: rem(13);
    }

    .white-theme & {
        border-color: var(--bs-border-color);
    }

    ._focus & {
        border-color: var(--bs-title-mark-color);
        transition: border-color 0s ease  0s;
    }

    &._error {
        border-color: red;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
    /* Изменение цвета фона */
    -webkit-box-shadow: 0 0 0 1000px var(--body-color) inset !important;
    /* Цвет текста */
    -webkit-text-fill-color: var(--white-black-color) !important;
}
}   

.item-input {
    position: relative;
    width: 100%;
    &._focus &__label {
        bottom: calc(100% + 5px);
        color: var(--bs-title-mark-color);
        font-size: rem(14);
        transition: bottom 0.3s ease  0s, color 0s ease  0s, font-size 0.3s ease  0s;

        @media(max-width:768px){
            font-size: rem(12);
        }
    }
    &._error .item-input__label{
        color: red;
        
    }
    &._focus._error {
        font-weight: 500;
    }

    &__label {
        position: absolute;
        bottom: rem(17);
        left: 0;
        font-size: rem(18);
        line-height: 120%;
        color: rgba(255, 255, 255, 0.2);
        transition: bottom 0.3s ease  0s, color 0.3s ease  0s, font-size 0.3s ease  0s;
        pointer-events: none;

        .white-theme & {
            color: var(--bs-font-color);
        }

        @media(max-width:768px){
            font-size: rem(16);
            bottom: rem(14);
        }


        .error {
            display: none;
            ._error & {
                display: inline;
            }
        }
        .ok {
            ._error & {
                display: none;
            }
        }
    }
}

.personal-data {
    display: flex;
    gap: rem(11);
    font-size: rem(13);
    cursor: pointer;
    span {
        color: #dedede;
    }
    a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #dedede;
        transition: opacity 0.3s ease  0s, color 0.3s ease  0s;
        &:hover {
            opacity: 0.6;
        }
    }
    input {
        display: none;

        &:checked + .personal-data__icon::before {
            width: rem(13);
            height: rem(13);
        }
    }

    &__icon {
        position: relative;
        min-width: rem(17);
        width: rem(17);
        height: rem(17);
        border-radius: rem(4);
        background: var(--white);
        border: rem(1) solid rgba(13, 13, 13, 0);
        .white-theme & {
            border: rem(1) solid rgba(13, 13, 13, 0.15);
        }
        .white-theme.blue-page & {
            background: #d1e2ff;
            border: rem(1) solid rgba(13, 13, 13, 0);
        }

        &::before {
            position: absolute;
            content: '';
            width: rem(0);
            height: rem(0);
            background: var(--bs-mark-color);
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            // top: rem(2);
            // left: rem(2);
            // right: rem(2);
            // bottom: rem(2);
            border-radius: rem(4);
            transition: width 0.3s ease  0s, height 0.3s ease  0s, background-color 0.3s ease  0s;
        }
    }

    .white-theme & {

        span, a {
            color: var(--bs-font-color);
        }
    }

    @media(max-width:550px){
        color: var(--bs-font-color);
    }
}

form {
    &.unlock button {
        opacity: 1;
    }
    button {
        opacity: 0.6;
        pointer-events: none;
    }
}


//blocks
.shadow-hidden {
    @media(min-width:651px){
        mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
        -webkit-mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
    }
}


// .text-blur-anim {
//     -webkit-backface-visibility: hidden; /* Фикс для iOS */
//     -webkit-perspective: 1000px; /* Помогает с рендерингом */
//     transform-style: preserve-3d; /* Для корректного размытия */
// }

//swiper

.wrapper-running {
    display: flex !important;
    align-items: center;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    will-change: transform;
    backface-visibility: hidden;
}

// churmbs

.crumbs {
    display: flex;
    align-items: center;
    @include adaptiveClamp(gap, 7, 4);

    a, span {
        color: rgba(240, 240, 240, 0.3);
        line-height: 120%;
        @include adaptiveClamp(font-size, 14, 12);
        
        &:hover {
            color: #f0f0f0;
        }

        .white-theme & {
            color: rgba(13, 13, 13, 0.3);

            &:hover {
                color: #0d0d0d;
            }
        }
        
        .black-block & {
            color: rgba(240, 240, 240, 0.3) !important;

            &:hover {
                color: #f0f0f0 !important;
            }
        }
        .white-block & {
            color: rgba(13, 13, 13, 0.3) !important;

            &:hover {
                color: #0d0d0d !important;
            }
        }
    }
    a:last-child {
        color: #f0f0f0;
        
        .white-theme & {
            color: #0d0d0d;
        }

        .black-block & {
            color: #f0f0f0 !important;
        }
        .white-block & {
            color: #0d0d0d !important;
        }
    }

    span {
        pointer-events: none;
    }
}



// showreel-video
.showreel-video {
    width: 100%;
    img, picture, video {
        width: 100%;
        object-fit: cover;
    }
}


//
img.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}