// Заголовки, общие БЄМ блоки и проче...
// body {
//     line-height: var(--bs-line-height);
    
// }
// .wrapper {
//     scroll-snap-type: y mandatory;
// }
html {
    scroll-snap-type: y proximity;

    * {
        // transition: color 0.3s ease  0s, border-color 0.3s ease  0s, background-color 0.3s ease  0s;
        &:not(em, i, span, b, strong) {
            line-height: var(--bs-line-height);
        }
    }
    // &.theme-switching * {
    //     // transition-duration: 0s !important;
    //     // transition-delay: 0s !important;
    //     transition: color 0s ease  0s, border-color 0.3s ease  0s, background-color 0.3s ease  0s !important; 
    // }


    @media(min-width:1441px){
        // font-size: vw(14);
        // font-size: 17px;
    }
}
body {

}

a {
    color: var(--bs-font-color);
    cursor: pointer;
}
h1, h2, h3, h4, h5 {
    color: var(--bs-title-color);

    em, i {
        color: var(--bs-title-mark-color);
        font-style: italic;
        font-family: 'NotoSerif', sans-serif; 
        font-weight: 400;
    }
}
h1, h2, h3, h4, h5, p, span {
    transition: all 0.3s ease  0s;
}




//заголовки
.title-big {
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 500;
    @include adaptiveClamp(font-size, 60, 35);
    transition: color 0.3s ease  0s;


    @media(max-width:750px){
        @include adaptiveClamp(font-size, 50, 35);
    }

    &.m-b {
        @include adaptiveClamp(margin-bottom, 40, 35);
    }
    &.t-c {
        text-align: center;
    }
    &.t-c-m {
        @media(max-width:1150px){
            text-align: center;
        }
    }

    &.min {
        @include adaptiveClamp(font-size, 40, 35);
    }

    @media(min-width:951px){
        max-width: var(--max-width-title, unset);
    }
}
.title-min {
    @include adaptiveClamp(font-size, 40, 30);
    line-height: 110%;
    transition: color 0.3s ease  0s;
}



//текст
.bs-text, p.bs-text {
    display: block;
    @include adaptiveClamp(font-size, 18, 16);
    transition: color 0.3s ease  0s;

    &.t-c-m {
        @media(max-width:1150px){
            text-align: center;
        }
    }
}
.t-c {
    text-align: center;
}

.head-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    &.a-c-m {
        @media(max-width:1150px){
            align-items: center;
        }
    }
    &.m-l {
        
        @media(min-width:769px){
            @include adaptiveClamp(margin-left, 527, 0);

            @media(max-width:1400px){
                @include adaptiveClamp(margin-left, 427, 0);
            }
        }
    }

    .title-big {
        width: 100%;
        @media(min-width:951px){
            max-width: var(--max-width-title, 45.6875rem);
        }
    }
    .bs-text {
        width: 100%;
        max-width: var(--max-width-text, 35.4375rem);

       

        &.mw-n-m {
            @media(max-width:1150px){
                max-width: rem(800);
            }
        }
    }

    &.m-b {
        @include adaptiveClamp(margin-bottom, 100, 80);
    }
    &.f-l {
        align-items: start;
    }


    // @media(max-width:550px){
    //     &.mob-left-text {
    //         align-items: start;

    //         .title-big {
    //             text-align: left;
    //         }
    //         .bs-text {
    //             text-align: left;
    //         }
    //     }
    // }
}



//фон
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



//карточки
.bs-card {
    @include adaptiveClamp(padding-top, 35, 19.63);
    @include adaptiveClamp(padding-left, 32, 20);
    @include adaptiveClamp(padding-right, 32, 20);
    @include adaptiveClamp(padding-bottom, 41.68, 21.37);
    @include adaptiveClamp(min-height, 515, 430);

    border: rem(1) solid rgba(255, 255, 255, 0.07);
    border-radius: rem(10);
    overflow: hidden;

    .white-theme & {
        border-color: var(--bs-border-color);
    }
}

.bs-card-min {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    border: 1px solid var(--bs-border-color); 
    border-radius: rem(10);
    overflow: hidden;
    background: var(--body-card-color);


    &._p {
        @include adaptiveClamp(padding-top, 30, 27);
        @include adaptiveClamp(padding-bottom, 30, 27);
        @include adaptiveClamp(padding-left, 32, 21);
        @include adaptiveClamp(padding-right, 32, 21);
    }

    h3 {
        @include adaptiveClamp(font-size, 22, 20);
        font-weight: 600;
        line-height: 125%;
        
        .bs-text {
            line-height: 132%;
        }
    }
}



//контент
.flex-content {
    display: flex;
    justify-content: space-between;


    @media(max-width:1150px){
        @include adaptiveClamp(gap, 100, 80);
    }

    @media(max-width:1150px){
        flex-direction: column;
    }


    &__left {
        @include adaptiveClamp(padding-right, 50, 20);

        @media(min-width:769px){
            @include adaptiveClamp(width, 527, 0);
            @include adaptiveClamp(min-width, 527, 0);

            @media(max-width:1400px){
                @include adaptiveClamp(width, 427, 0);
                @include adaptiveClamp(min-width, 427, 0);
            }
        }
        
    }

    &__right {
        width: 100%;
       
    }


    &._two {
        flex-direction: row;
        gap: 0;

        @media(max-width:768px){
            flex-direction: column;
            @include adaptiveClamp(gap, 100, 80);
        }
    }
}

.grid-content {
    display: grid;
    gap: 0 rem(10);

    &._three {
        grid-template-columns: 1fr 1fr 1fr;


        
        @media(min-width:1151px){
            .grid-content__right {
                grid-column: 2 span;
            }
        }

        @media(max-width:1150px){
            grid-template-columns: 1fr;
        }
    }
    &._two {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    &__left {
        @include adaptiveClamp(padding-right, 30, 14);
    }

    &__right {

        .head-text {
            max-width: 100%;
            width: auto;
        }
    }   
}


.denom {
    display: flex;
    align-items: center;
    @include adaptiveClamp(gap, 12.33, 11.38);
    @include adaptiveClamp(font-size, 16, 14);
    font-weight: 600;
    line-height: 1;
    color: var(--bs-title-color);
 

    .black-block & {
        color: var(--white);
    }

    .white-block & {
        color: #0d0d0d;
    }

    &.m-b {
        @include adaptiveClamp(margin-bottom, 80, 60);
    }

    &__icon {
        
        width: rem(14);
        height: rem(14);
        svg {
            display: block;
            circle {
                fill: var(--white-black-color);

                .black-block & {
                    fill: var(--white);
                }

                .white-block & {
                    fill: #0d0d0d;
                }
            }
            path {
                fill: #0e1016;

                .white-theme & {
                    fill: var(--white);
                }
                .white-theme .black-block & {
                    fill: #0e1016;
                }

                .white-block & {
                    fill: var(--white);
                }
            }
        }
    }

    &.mob-activ {
        @media(min-width:769px){
            display: none;
        }
    }
}



//buttons
.link-slide {
    position: relative;
    overflow: hidden;
    color: var(--white-black-color);
    transition: color 0.3s ease  0s, bottom 0.3s ease  0s;
    bottom: 0;
    white-space: nowrap;
    span {

        display: inline-block;
        transition: all 0.4s ease  0s;
    }
 
    @media(min-width:769px){
        &:hover {
            transition: color 0.3s ease  0s, bottom 0.3s ease  0.1s;
            span {
                transform: translateY(-100%);
            }
            &::after {
                top: 0;
            }

            bottom: 2px;

            // &::before {
            //     bottom: -2px;
            // }
        }
    }
    &::after {
        position: absolute;
        content: " " attr(data-content);
        width: 100%;
        height: 100%;
        top:100%;
        left: 0;
        color: var(--bs-font-color);
        transition: all 0.4s ease  0s;

        @media(max-width:768px){
            display: none;
        }
    }

    // &::before {
    //     position: absolute;
    //     content: '';
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     cursor: pointer;
    // }
}

.button {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: rem(13);
    line-height: 120%;
    color: var(--white);
    background: var(--bs-title-mark-color);
    padding: rem(14) rem(22.3) rem(10);
    border-radius: rem(4);
    text-align: center;
    cursor: pointer;
    bottom: 0;
    transition: background-color 0.3s ease  0s, transform 0.3s ease  0s, opacity 0.3s ease  0s, bottom 0.3s ease  0s;

    &:active {
        transform: scale(0.97);
    }
    @media(min-width:769px){
        &:hover {
            background: var(--bs-button-hover-color);
            bottom: 2px;
            // transform: translateY(-5px);
            transition: background-color 0.3s ease  0s, transform 0.3s ease  0s, opacity 0.3s ease  0s, bottom 0.3s ease  0.1s;

            &::after {
                bottom: -2px;
            }
        }
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }


    &.button-slide .slide-anim::after {
          color: var(--white);
    }

    @media(max-width:550px){
        font-size: rem(16);
        padding: rem(15.3) rem(22.3) rem(11.3);
    }

    &.button-down {
        position: relative;
        padding: rem(14) rem(22.3) rem(10) rem(44);

        &::before {
            position: absolute;
            content: '';
            width: rem(27);
            height: rem(27);
            background: url(@img/button-down-icon.svg) no-repeat center center / contain;
            top:50%;
            transform: translateY(-50%);
            left: rem(14);
            transition: opacity 0.3s ease  0s;
        }

        &:hover::before {
            opacity: 0.6;
        }
    }

    &.button-mob-min {

        @media(max-width:550px){
            font-size: rem(13);
            padding: rem(14) rem(22.3) rem(10);
        }
    }
}

.button-circe {
    position: relative;
    @include adaptiveClamp(width, 150, 120);
    @include adaptiveClamp(height, 150, 120);
    border: 1px solid var(--bs-title-mark-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bs-title-color);
    text-align: center;
    @include adaptiveClamp(font-size, 16, 14);
    font-weight: 500;
    line-height: 120%;
    transition: background-color 0.3s ease  0s, color 0.2s ease  0s, font-size 0.2s ease  0s, transform 0.3s ease  0s;


    svg {      
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &:active {
        transform: scale(0.97);
    }

    &.str {
        @include adaptiveClamp(width, 150, 148);
        @include adaptiveClamp(height, 150, 148);
        @include adaptiveClamp(font-size, 16, 15.9);
        svg {
            top: 60%;
            left: 50%;
            transition: top 0.3s ease  0s, opacity 0.3s ease  0s, transform 0.3s ease  0s;
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            opacity: 0;
            @include adaptiveClamp(width, 20, 15);
            @include adaptiveClamp(height, 19, 14);
        }
        span {
            transition: color 0.2s ease  0s, font-size 0.2s ease  0s, transform 0.3s ease  0s;
        }
    
        &:hover {
            background: var(--bs-title-mark-color);
            color: var(--bs-title-mark-color);
            // @include adaptiveClamp(font-size, 10, 8);
            span {
                transform: scale(0.4);
            }
            svg {
                top: 50%;
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
        }
        &.hover {
            background: var(--bs-title-mark-color);
            color: var(--bs-title-mark-color);
            // @include adaptiveClamp(font-size, 10, 8);
            span {
                transform: scale(0.4);
            }
            svg {
                top: 50%;
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
        }
    }

    &.down {
        @include adaptiveClamp(width, 150, 120);
        @include adaptiveClamp(height, 150, 120);
        background-color: var(--bs-title-mark-color);

        svg {
            width: rem(46);
            height: rem(46);
        }

        /* Псевдоэлемент для анимированной границы */
        &::after, &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid var(--bs-title-mark-color);
            border-radius: 50%;
            opacity: 0;
        }
        

        @media(min-width:769px){
             /* Анимация кнопки (один цикл) */
            &:hover {
                animation: buttonScale 0.5s ease-out;
            }
            
            /* Бесконечная анимация границы */
            &:hover::after {
                animation: borderFlow 1.8s infinite linear 0.6s;
            }
            &:hover::before {
                animation: borderFlow 1.8s infinite linear 1.1s;
            }
        }

        @media(max-width:768px){
            box-shadow: 0px 0px 70px #ff4433d3;
            /* Бесконечная анимация границы */
            &::after {
                animation: borderFlow 1.8s infinite linear 0s;
            }
            &::before {
                animation: borderFlow 1.8s infinite linear 0.5s;
            }
        }
        
        @keyframes buttonScale {
            0% {
            transform: scale(1);
            }
            50% {
            transform: scale(1.08);
            }
            100% {
            transform: scale(1);
            }
        }
        
        @keyframes borderFlow {
            0% {
            transform: scale(1);
            opacity: 0.5;
            }
            70% {
            transform: scale(1.35);
            opacity: 0;
            }
            100% {
            transform: scale(1.35);
            opacity: 0;
            }
        }
    }
}

.button-slide {
    color: var(--white);
    @media(min-width:769px){
        &:hover {
            .slide-anim::before {
                transform: translateY(-105%);
            }
            .slide-anim::after {
                top: 0;
            }
        }
    }



    .slide-anim {
        position: relative;
        display: inline-block;
        transition: all 0.4s ease  0s;
        overflow: hidden;
        white-space: nowrap;
        &::before {
            display: inline-block;
            position: relative;
            content:""attr(data-content);
            width: 100%;
            height: 100%;
            transition: all 0.4s ease  0s;
        }

        &::after {
            position: absolute;
            display: inline-block;
            content:""attr(data-content);
            width: 100%;
            height: 100%;
            top:100%;
            left: 0;
            color: var(--bs-font-color);
            border-color: var(--bs-font-color);
            // color: var(--bs-button-text-color);
            // font-weight: 500;
            transition: all 0.4s ease  0s !important;

            @media(max-width:768px){
                display: none;
            }
        }
    }
}

.link-line, .link-line::after, .link-line span {
    font-size: rem(14);
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: rem(2);
    color: var(--bs-font-color);
    // border-bottom: rem(0.1) solid var(--bs-font-color);
}
.link-line::after {
    color: var(--white-black-color);
}

.btn-row {
    padding-top: rem(60);
    display: flex;
    justify-content: center;

    &.btn-down-row {
        flex-direction: column;
        align-items: center;
        gap: rem(35);

        p {
            font-weight: 500;
            font-size: rem(14);
            line-height: 120%;
            color: var(--bs-title-color);
            max-width: rem(148);
            text-align: center;
        }
    }
}



//input
input::placeholder {
    color: rgba(255, 255, 255, 0.2);

    .white-thema & {
        color: var(--bs-font-color);
    }
}
input.text {
    font-weight: 500;
    color: var(--white-black-color);
    line-height: 120%;
    padding-bottom: rem(10.27);
    border-bottom: rem(0.5) solid rgba(255, 255, 255, 0.2);
    background: none;
    font-size: rem(18);
    width: 100%;
    padding-left: rem(5);
    border-radius: 0;


    @media(max-width:768px){
        font-size: rem(16);
        padding-bottom: rem(13);
    }

    .white-theme & {
        border-color: var(--bs-border-color);
    }

    ._focus & {
        border-color: var(--bs-title-mark-color);
        transition: border-color 0s ease  0s;
    }

    &._error {
        border-color: red;
    }
   

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
    /* Изменение цвета фона */
    -webkit-box-shadow: 0 0 0 1000px var(--body-color) inset !important;
    /* Цвет текста */
    -webkit-text-fill-color: var(--white-black-color) !important;
}
}   

.item-input {
    position: relative;
    width: 100%;


    &._focus &__label {
        bottom: calc(100% + 5px);
        color: var(--bs-title-mark-color);
        font-size: rem(14);
        transition: bottom 0.3s ease  0s, color 0s ease  0s, font-size 0.3s ease  0s;

        @media(max-width:768px){
            font-size: rem(12);
        }
    }
    &._error .item-input__label {
        color: red;
        
    }
    &._ok .item-input__label {
        color: var(--green);
    }


    &__label {
        position: absolute;
        bottom: rem(17);
        left: 0;
        font-size: rem(18);
        line-height: 120%;
        color: rgba(255, 255, 255, 0.2);
        transition: bottom 0.3s ease  0s, color 0.3s ease  0s, font-size 0.3s ease  0s;
        pointer-events: none;
        padding-left: rem(5);

        .white-theme & {
            color: var(--bs-font-color);
        }

        @media(max-width:768px){
            font-size: rem(16);
            bottom: rem(14);
        }


        .error {
            display: none;
            ._error & {
                display: inline;
            }
        }
        .ok {
            ._error & {
                display: none;
            }
        }
    }
}

.personal-data {
    display: flex;
    gap: rem(11);
    font-size: rem(13);
    cursor: pointer;
    span {
        color: #dedede;
    }
    a {
        color: var(--bs-mark-color);
        transition: opacity 0.3s ease  0s, color 0.3s ease  0s;
        &:hover {
            opacity: 0.6;
        }
    }
    input {
        display: none;

        &:checked + .personal-data__icon::before {
            width: rem(10);
            height: rem(10);
        }
    }

    &__icon {
        position: relative;
        min-width: rem(13);
        width: rem(13);
        height: rem(13);
        border-radius: rem(4);
        background: var(--white);
        border: rem(1) solid rgba(13, 13, 13, 0);
        .white-theme & {
            border: rem(1) solid rgba(13, 13, 13, 0.15);
        }
        .white-theme.blue-page & {
            background: #d1e2ff;
            border: rem(1) solid rgba(13, 13, 13, 0);
        }

        &::before {
            position: absolute;
            content: '';
            width: rem(0);
            height: rem(0);
            background: var(--bs-mark-color);
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            // top: rem(2);
            // left: rem(2);
            // right: rem(2);
            // bottom: rem(2);
            border-radius: rem(4);
            transition: width 0.3s ease  0s, height 0.3s ease  0s, background-color 0.3s ease  0s;
        }
    }

    .white-theme & {

        span, a {
            color: var(--bs-font-color);
        }
    }

    @media(max-width:550px){
        color: var(--bs-font-color);
    }
}

form {
    &.unlock button {
        opacity: 1;
    }
    button {
        opacity: 0.6;
        pointer-events: none;
    }
}



//blocks
.shadow-hidden {
    @media(min-width:651px){
        mask-image: linear-gradient(90deg, transparent 0.5%, black 35%, black 75%, transparent 99.99%);
        -webkit-mask-image: linear-gradient(90deg, transparent 0.5%, black 35%, black 75%, transparent 99.99%);

        // mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
        // -webkit-mask-image: linear-gradient(90deg, transparent 3.5%, black 35%, black 65%, transparent 96%);
    }
}


// .text-blur-anim {
//     -webkit-backface-visibility: hidden; /* Фикс для iOS */
//     -webkit-perspective: 1000px; /* Помогает с рендерингом */
//     transform-style: preserve-3d; /* Для корректного размытия */
// }



//swiper
.wrapper-running {
    display: flex !important;
    align-items: center;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.swiper-pagination {
    position: relative !important;
    bottom: 0 !important;
    @include adaptiveClamp(margin-top, 30, 20);
    &.swiper-pagination-bullets-dynamic {
        position: relative !important;
    }

    .swiper-pagination-bullet {
        @include adaptiveClamp(width, 8, 6.65);
        @include adaptiveClamp(height, 8, 6.65);
        background: #26282F;
        opacity: 0;
        transition: all 0.3s ease  0s;

        margin-left: rem(2) !important;
        margin-right: rem(2) !important;
        border-radius: 50%;
        .white-theme & {    
            background: #191B211A;
            
            &-active {
                opacity: 1;
                background: var(--bs-title-mark-color);
            }
        }

        &-active {
            opacity: 1;
            background: var(--bs-title-mark-color);
        }
    }
    .swiper-pagination-bullet-active-next-next, .swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-prev-prev, .swiper-pagination-bullet-active-prev {
        transform: scale(1) !important;
        opacity: 1;
    }

}


// churmbs
.crumbs {
    display: flex;
    align-items: center;
    @include adaptiveClamp(gap, 7, 4);

    a, span {
        color: rgba(240, 240, 240, 0.3);
        line-height: 120%;
        @include adaptiveClamp(font-size, 14, 12);
        transition: color 0.3s ease  0s;

        &:hover {
            color: #f0f0f0;
        }

        .white-theme & {
            color: rgba(13, 13, 13, 0.3);

            &:hover {
                color: #0d0d0d;
            }
        }
        
        .black-block & {
            color: rgba(240, 240, 240, 0.3) !important;

            &:hover {
                color: #f0f0f0 !important;
            }
        }
        .white-block & {
            color: rgba(13, 13, 13, 0.3) !important;

            &:hover {
                color: #0d0d0d !important;
            }
        }
    }
    a:last-child {
        color: #f0f0f0;
        
        .white-theme & {
            color: #0d0d0d;
        }

        .black-block & {
            color: #f0f0f0 !important;
        }
        .white-block & {
            color: #0d0d0d !important;
        }
    }

    span {
        pointer-events: none;
    }
}


// showreel-video
.showreel-video {
    width: 100%;
    img, picture, video {
        width: 100%;
        object-fit: cover;
    }
}


//img
img.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



//tag
.tag {
    position: relative;
    padding: rem(6.5) rem(13) rem(7.5) rem(28);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: rem(44);
    font-size: rem(14);
    line-height: 1;
    color: #fff;
    
    &::before {
        position: absolute;
        content: '';
        width: rem(6);
        height: rem(6);
        background: #d9d9d9;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: rem(13);
    }
}
.tag-oline {
  
    &::after {
        content: '';
        position: absolute;
        left: rem(16);
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: rem(10);
        height: rem(10);
        background: #02d92d;
        border-radius: 50%;
        animation: pulse 2s infinite;
        opacity: 0.5;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}



//star-video-btn
.start-video {
    position: relative;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        @include adaptiveClamp(width, 134.55, 110);
        @include adaptiveClamp(height, 134.55, 110);
        // background: url(../../images/) no-repeat center center / contain;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 135 135' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='67.3' cy='67.3' r='67.3' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M98.2 66.9C99.6 67.7 99.6 69.7 98.2 70.5L51.9 94.5C50.6 95.2 49 94.2 49 92.7V44.7C49 43.2 50.6 42.3 51.9 42.9L98.2 66.9Z' fill='white'/%3E%3C/svg%3E");
        border-radius: 50%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: transform 0.3s ease  0s;
        z-index: 1;
    }

    &:hover::before {
        transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
}



//стили общих секций
.section-p-t {
    @include adaptiveClamp(padding-top, 280, 171);
}

.black-fon-sec {
    &__container {
        @include adaptiveClamp(padding-bottom, 120, 65);
    }

    color: rgba(255, 255, 255, 0.6);
    .title-big {
        color: #f0f0f0;
    }
    .bs-text {
        color: rgba(255, 255, 255, 0.6);
    }
}



//стили фона
.fon-one {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: rem(399);
        height: rem(298.4);
        background: linear-gradient(223deg, #fb0 0%, #ff4533 38.5%, #ff4533 67%);
        // top:rem(214);
        top: rem(-71);
        // top: 25%;
        right: rem(-210);
        transform: rotate(-57.54deg);
        filter: blur(200px);
        border-radius: 100%;
        z-index: -1;

      
        .blue-page & {
            background: linear-gradient(270deg, #06f 38.5%, #2600ff 49%, #06f 67%);
        }
        .green-page & {
            background: linear-gradient(270deg, #01b954 38.5%, #00b050 49%, #01b954 67%);
        }
        .violet-page & {
            background: linear-gradient(270deg, #8206ff 38.5%, #7f02fe 49%, #8206ff 67%);
        }
        .pink-page & {
            background: linear-gradient(270deg, #f701ce 38.5%, #ee01c6 49%, #f701ce 67%);
        }

        @media(max-width:650px){
            display: none;
        }
    }
}
.fon-two {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: rem(399);
        @include adaptiveClamp(width, 399, 199);
        @include adaptiveClamp(height, 684, 484);
        background:linear-gradient(270deg, #ff4533 38.5%, #fb0 49%, #ff4533 67%);
        top:rem(10);
        left: rem(-259);
        border-radius: 100%;
        transform: rotate(-57.54deg);
        z-index: -1;
        filter: blur(50px);
        opacity: 0.8;

        .blue-page & {
            background: linear-gradient(270deg, #06f 38.5%, #0004ff 49%, #06f 67%);
        }
        .green-page & {
            background: linear-gradient(270deg, #01b954 38.5%, #00b050 49%, #01b954 67%);
        }
        .violet-page & {
            background: linear-gradient(270deg, #8206ff 38.5%, #7f02fe 49%, #8206ff 67%);
        }
        .pink-page & {
            background: linear-gradient(270deg, #f701ce 38.5%, #ee01c6 49%, #f701ce 67%);
        }


        @media(max-width:950px){
            display: none;
        }
    }
}
.fon-three {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: rem(585.4);
        height: rem(497.1);
        border-radius: 100%;
        background: linear-gradient(270deg, #ff4533 38.5%, #fb0 49%, #ff4533 67%);
        filter: blur(200px);
        top:10%;
        left: rem(-355);
        transform: rotate(9.18deg);
        opacity: 0.5;

        .blue-page & {
            background: linear-gradient(270deg, #06f 38.5%, #0004ff 49%, #06f 67%);
        }
        .green-page & {
            background: linear-gradient(270deg, #01b954 38.5%, #00b050 49%, #01b954 67%);
        }
        .violet-page & {
            background: linear-gradient(270deg, #8206ff 38.5%, #7f02fe 49%, #8206ff 67%);
        }
        .pink-page & {
            background: linear-gradient(270deg, #f701ce 38.5%, #ee01c6 49%, #f701ce 67%);
        }


        @media(max-width:650px){
            display: none;
        }
    }
}



//анимация слов
.word-anim {
    will-change: opacity, transform, filter;
    backface-visibility: hidden;
}
//анимация текста под заголовком
[data-text-anim] {
    opacity: 0;
    transform: translateY(15px);
}


.quot-stap {
    @include adaptiveClamp(width, 129.39, 40);

    svg {
        width: 100%;
        height: auto;

        path {
            fill: var(--bs-title-mark-color);
        }
    }
}

//анимация картинок появление с квадратом
[data-anim-qr] {
    position: relative;
    border-radius: rem(10);

    .anim-qr__box {
        pointer-events: none;
        position: absolute;
        background-color: var(--body-color);
        z-index: 4;

        &.top {
            width: 100%;
            height: 30%;
            top:0;
            left: 0;
        }
        &.bottom {
            width: 100%;
            height: 30%;
            bottom:0;
            left: 0;
        }
        &.left {
            width: 30%;
            height: 100%;
            top:0;
            left: 0;
        }
        &.right {
            width: 30%;
            height: 100%;
            bottom:0;
            right: 0;
        }
    }
}



.white-block {
    color: rgba(59, 59, 59, 0.6);
    .title-big, h3 {
        color: #0d0d0d;
    }

}


//перлоад на закрытие

.preload-close {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 0%;
    background: #fff;
    visibility: hidden;
}
.white-theme .preload-close {
    background: #0E1016;
}

html.going-page .preload-close  {
    height: 100%;
    transition: height 0.8s cubic-bezier(1,-0.03,.39,1)  0.05s;
}

html.going-page .page {
    transform: translateY(-20vh);
    transition: transform 1s cubic-bezier(1,-0.03,.39,1)  0s;
}


[data-counter-anim] {
    // transition: min-width 0.3s ease;
    // font-variant-numeric: tabular-nums; /* Для одинаковой ширины цифр */
}

.marquiz-content {
    display: none;
}


