@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Benzin;
	font-display: swap;
	src: url("../fonts/Benzin-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: NotoSerif;
	font-display: swap;
	src: url("../fonts/NotoSerif-Italic.woff2") format("woff2");
	font-weight: undefined;
	font-style: italic;
}
@font-face {
	font-family: NotoSerif;
	font-display: swap;
	src: url("../fonts/NotoSerif-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: NotoSerif;
	font-display: swap;
	src: url("../fonts/NotoSerif-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NotoSerif;
	font-display: swap;
	src: url("../fonts/NotoSerif-SemiBoldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: TimesNewRomanMTStd;
	font-display: swap;
	src: url("../fonts/TimesNewRomanMTStd.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icomoon;
	font-display: swap;
	src: url("../fonts/icomoon.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
