// !TO PERCENT %:
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

// !TO REM:
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// !TO EM:
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}


// !TO VW:
@function vw($value, $designWidth: 1440) {
  @return math.div($value, $designWidth) * 100vw;
}