$mainOffset: 50; // отступы безопасности для контейнера
$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$minWidthMaket: 390; // минимальная ширина телефона в макете
$containerWidth: 1520; // ширина контейнера из макета
$maxWidthContainer: $containerWidth + ($mainOffset * 2); // ширина контейнера с учетом padding слева и справа

$headerHeight: 100;
$footerHeight: 100;

:root {
  --bs-font-family: 'InterTight', sans-serif; // Семейство шрифта по умолчанию
  --font-logo: 'Benzin', sans-serif;
  --bs-font-size: 20px; // Размер шрифта по умолчанию
  --bs-font-weight: 400; // Жирность шрифта по умолчанию
  --bs-line-height: 125%; // Базовая высота шрифта
  --bs-transition: .3s ease-in-out;
  --bs-radius: 10px;

  --bs-font-color: rgba(255, 255, 255, 0.6); // Цвет шрифта по умолчанию
  --static-font-color: rgba(255, 255, 255, 0.6);
  --bs-title-color: #fff;
  --bs-mark-color: #ff4533;
  --bs-title-mark-color: #ff4533;
  --bs-border-color:rgba(255, 255, 255, 0.1);
  --bs-border-color-two:rgba(255, 255, 255, 0.07);
  --bs-border-img-color: #212121;

  --bs-button-text-color: rgb(207, 207, 207);
  --bs-button-hover-color: #ff3320;
  --body-color: #0e1016;
  --body-card-color: #0e1016;
  --white: #fff;
  --blue: #0090ff;
  --orange: #ff4533;
  --green: #02d92d;
  --blueBody: #06f;
  --greenBody: #00b050;
  --violet: #7f02fe;
  --pink: #ee01c6;


  --primary-color: #131313;
  --primary-hover-color: #2d2d2d;
  --secondary-color: #ff4040;
  --black-color: #131313;
  --white-black-color: #fff;
  --white-o-b: #fff;
  

  --bs-shadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);
  --hover-shadow: 0 0 5px 0 rgba(#000, 10%),
                  0 0 10px 0 rgba(#000, 10%),
                  0 0 15px 0 rgba(#000, 10%);
}

html.white-theme {
  --bs-font-color: rgba(59, 59, 59, 0.6);
  --bs-title-color: #0d0d0d;
  --bs-border-color: #dfdfdf;
  --bs-border-color-two: #dfdfdf;
  --bs-border-img-color: rgba(25, 27, 33, 0.1);
  --body-color: #fff;
  --white-o-b: #ff4533;

  --white-black-color: #0d0d0d;
  --body-card-color: #fff;

  &.blue-page {
    --white-o-b: #06f;
  }
}

html.blue-page {
  --bs-mark-color: #0090ff;
  --bs-title-mark-color: #06f;
  --bs-button-hover-color: rgb(0, 89, 222);
}
html.green-page {
  --bs-mark-color: #01b954;
  --bs-title-mark-color: #00b050;
  --bs-button-hover-color: #009c46;
}
html.violet-page {
  --bs-mark-color: #8206ff;
  --bs-title-mark-color: #7f02fe;
  --bs-button-hover-color: #7203e0;
}
html.pink-page {
  --bs-mark-color: #f701ce;
  --bs-title-mark-color: #ee01c6;
  --bs-button-hover-color: #de04ba;
}


