@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
@import 'config/placeholders';

/** Обнуление */
@import 'config/reset';

/**
* Библиотеки
* раскомментировать для использования
*/
// @import 'libs/aos';
// @import 'libs/swiper';
@import 'libs/running';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
@import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';

/**
* Функциональные блоки используемые во всё проекте
*/
@import 'components/popup';
// @import 'components/checkbox';
// @import 'components/tabs';
// @import 'components/accordion';
    @import 'components/cursor'; 
/**
* Подключение стилей отдельных блоков и секций
*/
@import 'components/header';
@import 'components/about';
@import 'components/showreel';
@import 'components/drawing';
@import 'components/leaders';
@import 'components/direct-port';

@import 'components/footer';

//desing-site
@import 'components/direct-site';
@import 'components/connect';
@import 'components/expert-site';
@import 'components/qual-serv';







// html, body {
//     margin: 0;
//     padding: 0;
//     overflow-x: hidden; /* Запретить горизонтальный скролл */
//     touch-action: pan-y;
//     height: 100%;
//   }
  
//   .smooth-wrapper {
//     height: 100vh;
//     overflow: hidden;
//   }
  
//   .smooth-content {
//     will-change: transform;
//     overflow-x: hidden;
//   }
  

html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}