@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
@import 'config/placeholders';

/** Обнуление */
@import 'config/reset';

/**
* Библиотеки
* раскомментировать для использования
*/
@import 'libs/aos';
@import 'libs/swiper';
@import 'libs/running';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
@import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';
@import 'config/common';

/**
* Функциональные блоки используемые во всё проекте
*/

@import 'components/popup';
// @import 'components/checkbox';
// @import 'components/tabs';
// @import 'components/accordion';
    @import 'components/cursor'; 
/**
* Подключение стилей отдельных блоков и секций
*/
@import 'components/header';
@import 'components/about';
@import 'components/showreel';
@import 'components/drawing';
@import 'components/leaders';
@import 'components/direct-port';
@import 'components/compar';
@import 'components/stages';
@import 'components/choice';
@import 'components/techn';
@import 'components/team';
@import 'components/achiev';
@import 'components/apply';
@import 'components/service-pr';
@import 'components/packages';
@import 'components/format';

@import 'components/quest';

@import 'components/footer';

@import 'components/menu';

@import 'components/bubble-trans';

//desing-site
@import 'components/direct-site';
@import 'components/connect';
@import 'components/expert-site';
@import 'components/qual-serv';
@import 'components/warran-site';
@import 'components/repack';
@import 'components/reviews';
@import 'components/advant';





//case-all-page/case-page
@import 'components/case-page/case-grid';

@import 'components/case-page/about-case';
@import 'components/case-page/desc-case';
@import 'components/case-page/other-case';




//pers-show
@import 'components/show/countries';
@import 'components/show/gpt';

@import 'components/show/firma';
@import 'components/show/launch';
@import 'components/show/partners';








html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}